workflow.json
{
  "updatedAt": "2026-07-03T13:45:10.888Z",
  "createdAt": "2026-06-30T16:01:25.986Z",
  "id": "2fyrX7SJFdRUNh9f",
  "name": "WhatsApp appointment booking automation",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-appointment",
        "options": {}
      },
      "id": "appt-n001",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "webhookId": "whatsapp-appt-booking-2024"
    },
    {
      "parameters": {
        "jsCode": "const VERIFY_TOKEN = '123456';\nconst input = $input.first().json;\n\n// Handle Meta webhook verification (GET request)\nconst query = input.query || {};\nif (query['hub.mode']) {\n  if (query['hub.mode'] === 'subscribe' && query['hub.verify_token'] === VERIFY_TOKEN) {\n    return [{ json: { type: 'verification', skip: true } }];\n  }\n  return [{ json: { type: 'forbidden', skip: true } }];\n}\n\n// Parse incoming WhatsApp message (POST request)\nconst body = input.body || input;\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst message = value?.messages?.[0];\nconst contact = value?.contacts?.[0];\n\nif (!message) return [{ json: { type: 'no_message', skip: true } }];\n\nconst msgAge = Math.floor(Date.now() / 1000) - parseInt(message.timestamp || 0);\nif (msgAge > 300) return [{ json: { type: 'expired', skip: true } }];\n\n// Handle audio/voice messages\nif (message.type === 'audio') {\n  return [{\n    json: {\n      skip: false,\n      messageId: message.id,\n      from: message.from,\n      type: 'audio',\n      audioId: message.audio.id,\n      text: '',\n      name: contact?.profile?.name || '',\n      timestamp: message.timestamp,\n      phoneNumberId: value.metadata?.phone_number_id\n    }\n  }];\n}\n\nif (message.type !== 'text' && message.type !== 'interactive') return [{ json: { type: message.type, skip: true } }];\n\nconst text = (message.text?.body || message.interactive?.button_reply?.title || '').trim();\nif (!text) return [{ json: { type: 'empty_text', skip: true } }];\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: message.id,\n    from: message.from,\n    type: message.type,\n    text,\n    name: contact?.profile?.name || '',\n    timestamp: message.timestamp,\n    phoneNumberId: value.metadata?.phone_number_id\n  }\n}];"
      },
      "id": "appt-n002",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.skip) }}",
              "value2": "false"
            }
          ]
        }
      },
      "id": "appt-n003",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'processed:' + $json.messageId }}",
        "options": {}
      },
      "id": "appt-n004",
      "name": "Check If Processed",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        672,
        304
      ],
      "credentials": {
        "redis": {
          "id": "5ooDCfWfVCLgn9QF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.value }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "appt-n005",
      "name": "Is New Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'processed:' + $('Parse Webhook').item.json.messageId }}",
        "value": "1",
        "keyType": "string",
        "expire": true,
        "ttl": 86400
      },
      "id": "appt-n006",
      "name": "Lock Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1104,
        304
      ],
      "credentials": {
        "redis": {
          "id": "5ooDCfWfVCLgn9QF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "from",
              "value": "={{ $('Parse Webhook').item.json.from }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "text",
              "value": "={{ $('Parse Webhook').item.json.text }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "name",
              "value": "={{ $('Parse Webhook').item.json.name }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "phoneNumberId",
              "value": "={{ $('Parse Webhook').item.json.phoneNumberId }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "sessionKey",
              "value": "={{ 'appt:session:' + $('Parse Webhook').item.json.from }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "customerKey",
              "value": "={{ 'appt:customer:' + $('Parse Webhook').item.json.from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "appt-n007",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "={{ $json.sessionKey }}",
        "options": {}
      },
      "id": "appt-n008",
      "name": "Get Conversation",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1552,
        304
      ],
      "credentials": {
        "redis": {
          "id": "5ooDCfWfVCLgn9QF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "={{ $('Prepare Data').item.json.customerKey }}",
        "options": {}
      },
      "id": "appt-n009",
      "name": "Get Customer Data",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1760,
        304
      ],
      "credentials": {
        "redis": {
          "id": "5ooDCfWfVCLgn9QF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').item.json;\nconst convRaw = $('Get Conversation').item.json.value;\nconst custRaw = $('Get Customer Data').item.json.value;\n\nlet conversation = [];\ntry { conversation = JSON.parse(convRaw || '[]'); } catch(e) {}\n\nlet customer = {};\ntry { customer = JSON.parse(custRaw || '{}'); } catch(e) {}\n\nreturn [{\n  json: {\n    from: data.from,\n    text: data.text,\n    name: data.name || customer.name || '',\n    phoneNumberId: data.phoneNumberId,\n    sessionKey: data.sessionKey,\n    customerKey: data.customerKey,\n    conversation,\n    customer,\n    pendingBooking: customer.pendingBooking || null\n  }\n}];"
      },
      "id": "appt-n010",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\n\n// Hard-code slot selection - don't send to LLM, 100% reliable\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_slot_selection') {\n  const num = parseInt(ctx.text.trim());\n  const slots = ctx.pendingBooking.slots || [];\n  if (num >= 1 && num <= slots.length) {\n    return [{ json: Object.assign({}, ctx, { _slotIndex: num - 1, ollamaBody: null }) }];\n  }\n}\n\n// Hard-code cancel confirmation reply - don't send to LLM, avoids \"yes\" being misclassified as intent=cancel again\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_cancel_confirmation') {\n  return [{ json: Object.assign({}, ctx, { _cancelConfirm: true, ollamaBody: null }) }];\n}\n\nconst today = new Date().toISOString().slice(0, 10);\n\nconst systemPrompt = \"You are an appointment booking assistant for Bright Smile Dental Clinic.\\n\" +\n  \"Today is \" + today + \".\\n\\n\" +\n  \"Services available:\\n\" +\n  \"- Cleaning (30 minutes)\\n\" +\n  \"- First Visit (60 minutes)\\n\" +\n  \"- Emergency (30 minutes)\\n\\n\" +\n  \"Business hours: Monday-Friday, 9:00 AM - 5:00 PM\\n\\n\" +\n  \"Current pending booking context: \" + JSON.stringify(ctx.pendingBooking || null) + \"\\n\" +\n  \"Recent conversation (last 6 messages): \" + JSON.stringify(ctx.conversation.slice(-6)) + \"\\n\\n\" +\n  \"Analyze the user message and respond ONLY with valid JSON:\\n\" +\n  \"{\\n\" +\n  \"  \\\"intent\\\": \\\"booking\\\" | \\\"reschedule\\\" | \\\"cancel\\\" | \\\"confirmation\\\" | \\\"unclear\\\",\\n\" +\n  \"  \\\"service\\\": \\\"Cleaning\\\" | \\\"First Visit\\\" | \\\"Emergency\\\" | null,\\n\" +\n  \"  \\\"date\\\": \\\"YYYY-MM-DD\\\" | null,\\n\" +\n  \"  \\\"time\\\": \\\"HH:MM\\\" | null,\\n\" +\n  \"  \\\"name\\\": null,\\n\" +\n  \"  \\\"notes\\\": null,\\n\" +\n  \"  \\\"confidence\\\": 0.0,\\n\" +\n  \"  \\\"reply\\\": \\\"\\\"\\n\" +\n  \"}\\n\\n\" +\n  \"Rules:\\n\" +\n  \"- Always resolve relative dates (next Monday, tomorrow) using today: \" + today + \"\\n\" +\n  \"- Write reply in friendly conversational tone\";\n\nconst requestBody = {\n  model: 'llama3:latest',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: ctx.text }\n  ],\n  format: 'json',\n  stream: false\n};\n\nreturn [{ json: Object.assign({}, ctx, { ollamaBody: JSON.stringify(requestBody) }) }];\n"
      },
      "id": "appt-n011",
      "name": "Build Ollama Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.ollamaBody }}",
        "options": {}
      },
      "id": "appt-n012",
      "name": "Detect Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2432,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Ollama Request').item.json;\n\n// Slot selection bypass - _slotIndex set by Build Ollama Request, skip LLM response\nif (ctx._slotIndex !== undefined && ctx._slotIndex !== null) {\n  const slot = (ctx.pendingBooking && ctx.pendingBooking.slots ? ctx.pendingBooking.slots[ctx._slotIndex] : null);\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'confirmation',\n      extracted: {\n        service: ctx.pendingBooking ? ctx.pendingBooking.service : null,\n        date: ctx.pendingBooking ? ctx.pendingBooking.date : null,\n        time: slot ? slot.time : null,\n        name: ctx.name || null,\n        notes: null\n      },\n      selectedSlot: slot || null,\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\n// Cancel confirmation bypass - _cancelConfirm set by Build Ollama Request, skip LLM response\n// Handle Confirmation node already inspects ctx.text for yes/no during awaiting_cancel_confirmation,\n// so forcing intent to 'confirmation' here is enough to stop the LLM from re-classifying \"yes\" as intent=cancel\nif (ctx._cancelConfirm) {\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'confirmation',\n      extracted: {\n        service: null, date: null, time: null,\n        name: ctx.name || null, notes: null\n      },\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\nconst aiResponse = $input.first().json;\nlet parsed = {};\ntry {\n  const content = aiResponse.message && aiResponse.message.content ? aiResponse.message.content : (aiResponse.response || '');\n  parsed = JSON.parse(content);\n} catch(e) {\n  parsed = { intent: 'unclear', confidence: 0, reply: 'Sorry, I had trouble understanding. Could you please rephrase?' };\n}\n\n// Reschedule date intercept - user just provided new date for reschedule\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_reschedule_date') {\n  const date = parsed.date || null;\n  if (date) {\n    return [{\n      json: {\n        from: ctx.from, text: ctx.text, name: ctx.name,\n        phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n        customerKey: ctx.customerKey, conversation: ctx.conversation,\n        customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n        intent: 'booking',\n        extracted: {\n          service: ctx.pendingBooking.service,\n          date: date,\n          time: parsed.time || null,\n          name: parsed.name || ctx.name || null,\n          notes: null\n        },\n        confidence: 1.0,\n        aiReply: ''\n      }\n    }];\n  }\n}\n\nreturn [{\n  json: {\n    from: ctx.from, text: ctx.text, name: ctx.name,\n    phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey, conversation: ctx.conversation,\n    customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n    intent: parsed.intent || 'unclear',\n    extracted: {\n      service: parsed.service || null,\n      date: parsed.date || null,\n      time: parsed.time || null,\n      name: parsed.name || ctx.name || null,\n      notes: parsed.notes || null\n    },\n    confidence: parsed.confidence || 0,\n    aiReply: parsed.reply || ''\n  }\n}];\n"
      },
      "id": "appt-n013",
      "name": "Parse Intent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        304
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "booking"
            },
            {
              "value2": "reschedule"
            },
            {
              "value2": "cancel"
            },
            {
              "value2": "confirmation"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "appt-n014",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        2864,
        304
      ]
    },
    {
      "continueOnFail": true,
      "parameters": {
        "url": "http://host.docker.internal:3000/api/calendar/availability",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $json.extracted.date }}"
            },
            {
              "name": "service",
              "value": "={{ $json.extracted.service }}"
            }
          ]
        },
        "options": {}
      },
      "id": "appt-n015",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3088,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst result = $input.first().json;\nconst slots = result.slots || [];\n\nif (!ctx.extracted.date) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: ctx.aiReply || 'What date would you like to book? (e.g. Monday July 7)',\n      pendingBooking: { ...ctx.pendingBooking, service: ctx.extracted.service, step: 'awaiting_date' }\n    }\n  }];\n}\n\nif (!ctx.extracted.service) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: 'Which service do you need?\\n\\n1. Cleaning (30 min)\\n2. First Visit (60 min)\\n3. Emergency (30 min)',\n      pendingBooking: { step: 'awaiting_service', date: ctx.extracted.date }\n    }\n  }];\n}\n\nif (slots.length === 0) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: 'Sorry, no available slots on ' + ctx.extracted.date + '. Would you like to try a different date?',\n      pendingBooking: null\n    }\n  }];\n}\n\nconst topSlots = slots.slice(0, 3);\nconst isReschedule = ctx.pendingBooking && ctx.pendingBooking.existingAppointmentId;\n\nlet msg = 'Available slots for *' + ctx.extracted.service + '* on *' + ctx.extracted.date + '*:\\n\\n';\ntopSlots.forEach(function(slot, i) {\n  msg += (i + 1) + '. ' + slot.time + '\\n';\n});\nmsg += '\\nReply with *1*, *2*, or *3* to confirm your appointment.';\n\nconst newPendingBooking = {\n  service: ctx.extracted.service,\n  date: ctx.extracted.date,\n  name: ctx.extracted.name || ctx.name,\n  phone: ctx.from,\n  slots: topSlots,\n  step: 'awaiting_slot_selection'\n};\n\n// Preserve reschedule context if present\nif (isReschedule) {\n  newPendingBooking.existingAppointmentId = ctx.pendingBooking.existingAppointmentId;\n  newPendingBooking.existingCalendarEventId = ctx.pendingBooking.existingCalendarEventId;\n  newPendingBooking.isReschedule = true;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: msg,\n    pendingBooking: newPendingBooking\n  }\n}];\n"
      },
      "id": "appt-n016",
      "name": "Format Slot Options",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ 'http://host.docker.internal:3000/api/appointments/by-phone/' + $json.from }}",
        "options": {}
      },
      "id": "appt-n017",
      "name": "Find Existing Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3088,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst appt = $input.first().json;\n\nif (!appt || !appt.id) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: \"I couldn't find an active appointment for your number. Would you like to book a new one?\",\n      pendingBooking: null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: `Found your appointment:\\n\\n?? *${appt.service}*\\n?? ${appt.date} at ${appt.time}\\n\\nWhat date would you like to reschedule to?`,\n    pendingBooking: {\n      step: 'awaiting_reschedule_date',\n      existingAppointmentId: appt.id,\n      existingCalendarEventId: appt.calendarEventId,\n      service: appt.service,\n      name: appt.name,\n      phone: ctx.from\n    }\n  }\n}];"
      },
      "id": "appt-n018",
      "name": "Format Reschedule Options",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        608
      ]
    },
    {
      "parameters": {
        "url": "={{ 'http://host.docker.internal:3000/api/appointments/by-phone/' + $json.from }}",
        "options": {}
      },
      "id": "appt-n019",
      "name": "Find Appointment to Cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3088,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst appt = $input.first().json;\n\nif (!appt || !appt.id) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: \"I couldn't find an active appointment for your number.\",\n      pendingBooking: null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: `Are you sure you want to cancel your appointment?\\n\\n?? *${appt.service}*\\n?? ${appt.date} at ${appt.time}\\n\\nReply *YES* to confirm cancellation.`,\n    pendingBooking: {\n      step: 'awaiting_cancel_confirmation',\n      existingAppointmentId: appt.id,\n      existingCalendarEventId: appt.calendarEventId,\n      service: appt.service,\n      date: appt.date,\n      time: appt.time\n    }\n  }\n}];"
      },
      "id": "appt-n020",
      "name": "Format Cancel Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst pending = ctx.pendingBooking;\nconst text = ctx.text.trim().toLowerCase();\n\nif (!pending || !pending.step) {\n  return [{ json: { ...ctx, confirmAction: 'none', responseText: ctx.aiReply || 'How can I help you? You can book, reschedule, or cancel an appointment.' } }];\n}\n\nif (pending.step === 'awaiting_slot_selection') {\n  const choice = parseInt(text) - 1;\n  const slot = pending.slots && pending.slots[choice] ? pending.slots[choice] : null;\n  if (!slot) {\n    return [{ json: { ...ctx, confirmAction: 'none', responseText: 'Please reply with *1*, *2*, or *3* to select your preferred time slot.' } }];\n  }\n  const confirmAction = pending.isReschedule ? 'reschedule_event' : 'create_event';\n  return [{ json: { ...ctx, confirmAction: confirmAction, selectedSlot: slot, pending } }];\n}\n\nif (pending.step === 'awaiting_cancel_confirmation') {\n  if (text === 'yes' || text === 'ya' || text === 'yeah' || text === 'yep' || text === 'ok' || text === 'okay') {\n    return [{ json: { ...ctx, confirmAction: 'cancel_event', pending } }];\n  }\n  return [{ json: { ...ctx, confirmAction: 'none', responseText: 'Cancellation aborted. Your appointment is still active.' } }];\n}\n\nreturn [{ json: { ...ctx, confirmAction: 'none', responseText: ctx.aiReply || 'How can I help you?' } }];\n"
      },
      "id": "appt-n021",
      "name": "Handle Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        1200
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.confirmAction }}",
        "rules": {
          "rules": [
            {
              "value2": "create_event"
            },
            {
              "value2": "cancel_event"
            },
            {
              "value2": "reschedule_event"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "appt-n022",
      "name": "Confirmation Action?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        3312,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/calendar/events",
        "sendBody": true,
        "options": {},
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ service: $json.extracted.service, date: $json.extracted.date, time: $json.extracted.time, name: $json.extracted.name || $json.name || $json.from, phone: $json.from, notes: $json.extracted.notes || null }) }}"
      },
      "id": "appt-n023",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3520,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Handle Confirmation').item.json;\nconst result = $input.first().json;\n\nconst confirmMsg = `? *Appointment Confirmed!*\\n\\n` +\n  `?? Service: ${ctx.pending.service}\\n` +\n  `?? Date: ${ctx.pending.date}\\n` +\n  `? Time: ${ctx.selectedSlot.time}\\n` +\n  `?? Name: ${ctx.pending.name}\\n` +\n  `?? Phone: ${ctx.from}\\n\\n` +\n  `You will receive a reminder 24 hours and 2 hours before your appointment.\\n\\n` +\n  `To reschedule or cancel, just message us here.`;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: confirmMsg,\n    pendingBooking: null,\n    calendarEventId: result.eventId || result.id || null\n  }\n}];"
      },
      "id": "appt-n024",
      "name": "Format Booking Confirmed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1056
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ 'http://host.docker.internal:3000/api/calendar/events/' + $json.pending.existingCalendarEventId }}",
        "options": {}
      },
      "id": "appt-n025",
      "name": "Cancel Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3520,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Handle Confirmation').item.json;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: '? Your appointment has been successfully cancelled.\\n\\nWe hope to see you soon! To book a new appointment, just send us a message.',\n    pendingBooking: null\n  }\n}];"
      },
      "id": "appt-n026",
      "name": "Format Cancel Confirmed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Intent Response').item.json;\n\nconst defaultMsg = 'Hi! ?? I can help you with:\\n\\n?? *Book* an appointment\\n?? *Reschedule* your appointment\\n? *Cancel* your appointment\\n\\nWhat would you like to do?';\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: ctx.aiReply || defaultMsg,\n    pendingBooking: ctx.pendingBooking\n  }\n}];"
      },
      "id": "appt-n027",
      "name": "Format Unclear Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        1504
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst conversation = [...(item.conversation || [])];\n\nconversation.push({ role: 'user', content: item.text, ts: Date.now() });\nconversation.push({ role: 'assistant', content: item.responseText, ts: Date.now() });\n\nif (conversation.length > 20) conversation.splice(0, conversation.length - 20);\n\nconst updatedCustomer = {\n  ...(item.customer || {}),\n  name: item.extracted?.name || item.name || item.customer?.name || '',\n  phone: item.from,\n  pendingBooking: item.pendingBooking || null,\n  lastSeen: Date.now()\n};\n\nreturn [{\n  json: {\n    from: item.from,\n    phoneNumberId: item.phoneNumberId,\n    responseText: item.responseText,\n    sessionKey: item.sessionKey,\n    customerKey: item.customerKey,\n    conversationJson: JSON.stringify(conversation),\n    customerJson: JSON.stringify(updatedCustomer)\n  }\n}];"
      },
      "id": "appt-n028",
      "name": "Save Conversation Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        752
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.sessionKey }}",
        "value": "={{ $json.conversationJson }}",
        "keyType": "string",
        "expire": true,
        "ttl": 86400
      },
      "id": "appt-n029",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4192,
        752
      ],
      "credentials": {
        "redis": {
          "id": "5ooDCfWfVCLgn9QF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Save Conversation Prep').item.json.customerKey }}",
        "value": "={{ $('Save Conversation Prep').item.json.customerJson }}",
        "keyType": "string",
        "expire": true,
        "ttl": 2592000
      },
      "id": "appt-n030",
      "name": "Save Customer Profile",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4400,
        752
      ],
      "credentials": {
        "redis": {
          "id": "5ooDCfWfVCLgn9QF",
          "name": "Redis account"
        }
      }
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "pcFpAYQlwDZ3PiNX",
          "name": "Header Auth account"
        }
      },
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $('Save Conversation Prep').item.json.phoneNumberId + '/messages' }}",
        "sendHeaders": false,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Save Conversation Prep').item.json.from, type: 'text', text: { body: $('Save Conversation Prep').item.json.responseText } }) }}",
        "options": {}
      },
      "id": "appt-n031",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4624,
        752
      ]
    },
    {
      "id": "resched1",
      "name": "Create Reschedule Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/calendar/events",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ service: $json.pending.service, date: $json.pending.date, time: $json.selectedSlot.time, name: $json.pending.name || $json.name || $json.from, phone: $json.from, notes: null }) }}",
        "options": {}
      }
    },
    {
      "id": "resched2",
      "name": "Cancel Old Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        500
      ],
      "parameters": {
        "method": "DELETE",
        "url": "={{ \"http://host.docker.internal:3000/api/calendar/events/\" + $(\"Handle Confirmation\").item.json.pending.existingCalendarEventId }}",
        "options": {}
      }
    },
    {
      "id": "resched3",
      "name": "Format Reschedule Confirmed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        500
      ],
      "parameters": {
        "jsCode": "const ctx = $('Handle Confirmation').item.json;\nconst result = $input.first().json;\n\nconst msg = 'Your appointment has been rescheduled!\\n\\n' +\n  'Service: ' + ctx.pending.service + '\\n' +\n  'New Date: ' + ctx.pending.date + '\\n' +\n  'New Time: ' + ctx.selectedSlot.time + '\\n\\n' +\n  'Your old appointment has been cancelled. We look forward to seeing you!';\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: msg,\n    pendingBooking: null\n  }\n}];\n"
      }
    },
    {
      "id": "appt-voice-001",
      "name": "Is Voice Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        304
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "value2": "audio"
            }
          ]
        }
      }
    },
    {
      "id": "appt-voice-002",
      "name": "Get Audio URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pcFpAYQlwDZ3PiNX",
          "name": "Header Auth account"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $json.audioId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "appt-voice-003",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pcFpAYQlwDZ3PiNX",
          "name": "Header Auth account"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "appt-voice-004",
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y5W9LFb3jdX34kFz",
          "name": "Groq API"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "appt-voice-005",
      "name": "Inject Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        80
      ],
      "parameters": {
        "jsCode": "const transcription = $input.first().json.text || '';\nconst ctx = $('Prepare Data').item.json;\nreturn [{\n  json: {\n    ...ctx,\n    text: transcription,\n    isVoiceMessage: true\n  }\n}];"
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Check If Processed",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check If Processed": {
      "main": [
        [
          {
            "node": "Is New Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Message?": {
      "main": [
        [
          {
            "node": "Lock Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Lock Message": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Is Voice Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation": {
      "main": [
        [
          {
            "node": "Get Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Data": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "Build Ollama Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ollama Request": {
      "main": [
        [
          {
            "node": "Detect Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Intent": {
      "main": [
        [
          {
            "node": "Parse Intent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent Response": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Existing Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Appointment to Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Unclear Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Format Slot Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slot Options": {
      "main": [
        [
          {
            "node": "Save Conversation Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Appointment": {
      "main": [
        [
          {
            "node": "Format Reschedule Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reschedule Options": {
      "main": [
        [
          {
            "node": "Save Conversation Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Appointment to Cancel": {
      "main": [
        [
          {
            "node": "Format Cancel Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cancel Confirmation": {
      "main": [
        [
          {
            "node": "Save Conversation Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Confirmation": {
      "main": [
        [
          {
            "node": "Confirmation Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Action?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancel Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Reschedule Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Conversation Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Format Booking Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Booking Confirmed": {
      "main": [
        [
          {
            "node": "Save Conversation Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Calendar Event": {
      "main": [
        [
          {
            "node": "Format Cancel Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cancel Confirmed": {
      "main": [
        [
          {
            "node": "Save Conversation Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reschedule Event": {
      "main": [
        [
          {
            "node": "Cancel Old Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Old Appointment": {
      "main": [
        [
          {
            "node": "Format Reschedule Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reschedule Confirmed": {
      "main": [
        [
          {
            "node": "Save Conversation Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Unclear Response": {
      "main": [
        [
          {
            "node": "Save Conversation Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation Prep": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Save Customer Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Customer Profile": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice Message?": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Inject Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Transcription": {
      "main": [
        [
          {
            "node": "Get Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e25a1033-78b7-405a-b1da-6877d35ee98d",
  "activeVersionId": "e25a1033-78b7-405a-b1da-6877d35ee98d",
  "versionCounter": 77,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-30T16:01:25.988Z",
      "createdAt": "2026-06-30T16:01:25.988Z",
      "role": "workflow:owner",
      "workflowId": "2fyrX7SJFdRUNh9f",
      "projectId": "omSWFMunMQl2ATDm",
      "project": {
        "updatedAt": "2026-05-24T04:39:55.459Z",
        "createdAt": "2026-05-11T07:31:23.630Z",
        "id": "omSWFMunMQl2ATDm",
        "name": "bagus bagus <bagusbachtiar50@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "425d240d-1a04-4966-99d0-f9cdf7229c01"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-03T13:45:10.893Z",
    "createdAt": "2026-07-03T13:45:10.893Z",
    "versionId": "e25a1033-78b7-405a-b1da-6877d35ee98d",
    "workflowId": "2fyrX7SJFdRUNh9f",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp-appointment",
          "options": {}
        },
        "id": "appt-n001",
        "name": "WhatsApp Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          304
        ],
        "webhookId": "whatsapp-appt-booking-2024"
      },
      {
        "parameters": {
          "jsCode": "const VERIFY_TOKEN = '123456';\nconst input = $input.first().json;\n\n// Handle Meta webhook verification (GET request)\nconst query = input.query || {};\nif (query['hub.mode']) {\n  if (query['hub.mode'] === 'subscribe' && query['hub.verify_token'] === VERIFY_TOKEN) {\n    return [{ json: { type: 'verification', skip: true } }];\n  }\n  return [{ json: { type: 'forbidden', skip: true } }];\n}\n\n// Parse incoming WhatsApp message (POST request)\nconst body = input.body || input;\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst message = value?.messages?.[0];\nconst contact = value?.contacts?.[0];\n\nif (!message) return [{ json: { type: 'no_message', skip: true } }];\n\nconst msgAge = Math.floor(Date.now() / 1000) - parseInt(message.timestamp || 0);\nif (msgAge > 300) return [{ json: { type: 'expired', skip: true } }];\n\n// Handle audio/voice messages\nif (message.type === 'audio') {\n  return [{\n    json: {\n      skip: false,\n      messageId: message.id,\n      from: message.from,\n      type: 'audio',\n      audioId: message.audio.id,\n      text: '',\n      name: contact?.profile?.name || '',\n      timestamp: message.timestamp,\n      phoneNumberId: value.metadata?.phone_number_id\n    }\n  }];\n}\n\nif (message.type !== 'text' && message.type !== 'interactive') return [{ json: { type: message.type, skip: true } }];\n\nconst text = (message.text?.body || message.interactive?.button_reply?.title || '').trim();\nif (!text) return [{ json: { type: 'empty_text', skip: true } }];\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: message.id,\n    from: message.from,\n    type: message.type,\n    text,\n    name: contact?.profile?.name || '',\n    timestamp: message.timestamp,\n    phoneNumberId: value.metadata?.phone_number_id\n  }\n}];"
        },
        "id": "appt-n002",
        "name": "Parse Webhook",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ String($json.skip) }}",
                "value2": "false"
              }
            ]
          }
        },
        "id": "appt-n003",
        "name": "Should Process?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          448,
          304
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "key": "={{ 'processed:' + $json.messageId }}",
          "options": {}
        },
        "id": "appt-n004",
        "name": "Check If Processed",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          672,
          304
        ],
        "credentials": {
          "redis": {
            "id": "5ooDCfWfVCLgn9QF",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.value }}",
                "operation": "isEmpty"
              }
            ]
          }
        },
        "id": "appt-n005",
        "name": "Is New Message?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          880,
          304
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ 'processed:' + $('Parse Webhook').item.json.messageId }}",
          "value": "1",
          "keyType": "string",
          "expire": true,
          "ttl": 86400
        },
        "id": "appt-n006",
        "name": "Lock Message",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1104,
          304
        ],
        "credentials": {
          "redis": {
            "id": "5ooDCfWfVCLgn9QF",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "from",
                "value": "={{ $('Parse Webhook').item.json.from }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "text",
                "value": "={{ $('Parse Webhook').item.json.text }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "name",
                "value": "={{ $('Parse Webhook').item.json.name }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "phoneNumberId",
                "value": "={{ $('Parse Webhook').item.json.phoneNumberId }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "sessionKey",
                "value": "={{ 'appt:session:' + $('Parse Webhook').item.json.from }}",
                "type": "string"
              },
              {
                "id": "a6",
                "name": "customerKey",
                "value": "={{ 'appt:customer:' + $('Parse Webhook').item.json.from }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "appt-n007",
        "name": "Prepare Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1328,
          304
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "value",
          "key": "={{ $json.sessionKey }}",
          "options": {}
        },
        "id": "appt-n008",
        "name": "Get Conversation",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1552,
          304
        ],
        "credentials": {
          "redis": {
            "id": "5ooDCfWfVCLgn9QF",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "value",
          "key": "={{ $('Prepare Data').item.json.customerKey }}",
          "options": {}
        },
        "id": "appt-n009",
        "name": "Get Customer Data",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1760,
          304
        ],
        "credentials": {
          "redis": {
            "id": "5ooDCfWfVCLgn9QF",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $('Prepare Data').item.json;\nconst convRaw = $('Get Conversation').item.json.value;\nconst custRaw = $('Get Customer Data').item.json.value;\n\nlet conversation = [];\ntry { conversation = JSON.parse(convRaw || '[]'); } catch(e) {}\n\nlet customer = {};\ntry { customer = JSON.parse(custRaw || '{}'); } catch(e) {}\n\nreturn [{\n  json: {\n    from: data.from,\n    text: data.text,\n    name: data.name || customer.name || '',\n    phoneNumberId: data.phoneNumberId,\n    sessionKey: data.sessionKey,\n    customerKey: data.customerKey,\n    conversation,\n    customer,\n    pendingBooking: customer.pendingBooking || null\n  }\n}];"
        },
        "id": "appt-n010",
        "name": "Build AI Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1984,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $input.first().json;\n\n// Hard-code slot selection - don't send to LLM, 100% reliable\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_slot_selection') {\n  const num = parseInt(ctx.text.trim());\n  const slots = ctx.pendingBooking.slots || [];\n  if (num >= 1 && num <= slots.length) {\n    return [{ json: Object.assign({}, ctx, { _slotIndex: num - 1, ollamaBody: null }) }];\n  }\n}\n\n// Hard-code cancel confirmation reply - don't send to LLM, avoids \"yes\" being misclassified as intent=cancel again\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_cancel_confirmation') {\n  return [{ json: Object.assign({}, ctx, { _cancelConfirm: true, ollamaBody: null }) }];\n}\n\nconst today = new Date().toISOString().slice(0, 10);\n\nconst systemPrompt = \"You are an appointment booking assistant for Bright Smile Dental Clinic.\\n\" +\n  \"Today is \" + today + \".\\n\\n\" +\n  \"Services available:\\n\" +\n  \"- Cleaning (30 minutes)\\n\" +\n  \"- First Visit (60 minutes)\\n\" +\n  \"- Emergency (30 minutes)\\n\\n\" +\n  \"Business hours: Monday-Friday, 9:00 AM - 5:00 PM\\n\\n\" +\n  \"Current pending booking context: \" + JSON.stringify(ctx.pendingBooking || null) + \"\\n\" +\n  \"Recent conversation (last 6 messages): \" + JSON.stringify(ctx.conversation.slice(-6)) + \"\\n\\n\" +\n  \"Analyze the user message and respond ONLY with valid JSON:\\n\" +\n  \"{\\n\" +\n  \"  \\\"intent\\\": \\\"booking\\\" | \\\"reschedule\\\" | \\\"cancel\\\" | \\\"confirmation\\\" | \\\"unclear\\\",\\n\" +\n  \"  \\\"service\\\": \\\"Cleaning\\\" | \\\"First Visit\\\" | \\\"Emergency\\\" | null,\\n\" +\n  \"  \\\"date\\\": \\\"YYYY-MM-DD\\\" | null,\\n\" +\n  \"  \\\"time\\\": \\\"HH:MM\\\" | null,\\n\" +\n  \"  \\\"name\\\": null,\\n\" +\n  \"  \\\"notes\\\": null,\\n\" +\n  \"  \\\"confidence\\\": 0.0,\\n\" +\n  \"  \\\"reply\\\": \\\"\\\"\\n\" +\n  \"}\\n\\n\" +\n  \"Rules:\\n\" +\n  \"- Always resolve relative dates (next Monday, tomorrow) using today: \" + today + \"\\n\" +\n  \"- Write reply in friendly conversational tone\";\n\nconst requestBody = {\n  model: 'llama3:latest',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: ctx.text }\n  ],\n  format: 'json',\n  stream: false\n};\n\nreturn [{ json: Object.assign({}, ctx, { ollamaBody: JSON.stringify(requestBody) }) }];\n"
        },
        "id": "appt-n011",
        "name": "Build Ollama Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2208,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:11434/api/chat",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.ollamaBody }}",
          "options": {}
        },
        "id": "appt-n012",
        "name": "Detect Intent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2432,
          304
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build Ollama Request').item.json;\n\n// Slot selection bypass - _slotIndex set by Build Ollama Request, skip LLM response\nif (ctx._slotIndex !== undefined && ctx._slotIndex !== null) {\n  const slot = (ctx.pendingBooking && ctx.pendingBooking.slots ? ctx.pendingBooking.slots[ctx._slotIndex] : null);\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'confirmation',\n      extracted: {\n        service: ctx.pendingBooking ? ctx.pendingBooking.service : null,\n        date: ctx.pendingBooking ? ctx.pendingBooking.date : null,\n        time: slot ? slot.time : null,\n        name: ctx.name || null,\n        notes: null\n      },\n      selectedSlot: slot || null,\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\n// Cancel confirmation bypass - _cancelConfirm set by Build Ollama Request, skip LLM response\n// Handle Confirmation node already inspects ctx.text for yes/no during awaiting_cancel_confirmation,\n// so forcing intent to 'confirmation' here is enough to stop the LLM from re-classifying \"yes\" as intent=cancel\nif (ctx._cancelConfirm) {\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'confirmation',\n      extracted: {\n        service: null, date: null, time: null,\n        name: ctx.name || null, notes: null\n      },\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\nconst aiResponse = $input.first().json;\nlet parsed = {};\ntry {\n  const content = aiResponse.message && aiResponse.message.content ? aiResponse.message.content : (aiResponse.response || '');\n  parsed = JSON.parse(content);\n} catch(e) {\n  parsed = { intent: 'unclear', confidence: 0, reply: 'Sorry, I had trouble understanding. Could you please rephrase?' };\n}\n\n// Reschedule date intercept - user just provided new date for reschedule\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_reschedule_date') {\n  const date = parsed.date || null;\n  if (date) {\n    return [{\n      json: {\n        from: ctx.from, text: ctx.text, name: ctx.name,\n        phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n        customerKey: ctx.customerKey, conversation: ctx.conversation,\n        customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n        intent: 'booking',\n        extracted: {\n          service: ctx.pendingBooking.service,\n          date: date,\n          time: parsed.time || null,\n          name: parsed.name || ctx.name || null,\n          notes: null\n        },\n        confidence: 1.0,\n        aiReply: ''\n      }\n    }];\n  }\n}\n\nreturn [{\n  json: {\n    from: ctx.from, text: ctx.text, name: ctx.name,\n    phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey, conversation: ctx.conversation,\n    customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n    intent: parsed.intent || 'unclear',\n    extracted: {\n      service: parsed.service || null,\n      date: parsed.date || null,\n      time: parsed.time || null,\n      name: parsed.name || ctx.name || null,\n      notes: parsed.notes || null\n    },\n    confidence: parsed.confidence || 0,\n    aiReply: parsed.reply || ''\n  }\n}];\n"
        },
        "id": "appt-n013",
        "name": "Parse Intent Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          304
        ]
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.intent }}",
          "rules": {
            "rules": [
              {
                "value2": "booking"
              },
              {
                "value2": "reschedule"
              },
              {
                "value2": "cancel"
              },
              {
                "value2": "confirmation"
              }
            ]
          },
          "fallbackOutput": "extra"
        },
        "id": "appt-n014",
        "name": "Route by Intent",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 2,
        "position": [
          2864,
          304
        ]
      },
      {
        "continueOnFail": true,
        "parameters": {
          "url": "http://host.docker.internal:3000/api/calendar/availability",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "date",
                "value": "={{ $json.extracted.date }}"
              },
              {
                "name": "service",
                "value": "={{ $json.extracted.service }}"
              }
            ]
          },
          "options": {}
        },
        "id": "appt-n015",
        "name": "Check Calendar Availability",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3088,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst result = $input.first().json;\nconst slots = result.slots || [];\n\nif (!ctx.extracted.date) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: ctx.aiReply || 'What date would you like to book? (e.g. Monday July 7)',\n      pendingBooking: { ...ctx.pendingBooking, service: ctx.extracted.service, step: 'awaiting_date' }\n    }\n  }];\n}\n\nif (!ctx.extracted.service) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: 'Which service do you need?\\n\\n1. Cleaning (30 min)\\n2. First Visit (60 min)\\n3. Emergency (30 min)',\n      pendingBooking: { step: 'awaiting_service', date: ctx.extracted.date }\n    }\n  }];\n}\n\nif (slots.length === 0) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: 'Sorry, no available slots on ' + ctx.extracted.date + '. Would you like to try a different date?',\n      pendingBooking: null\n    }\n  }];\n}\n\nconst topSlots = slots.slice(0, 3);\nconst isReschedule = ctx.pendingBooking && ctx.pendingBooking.existingAppointmentId;\n\nlet msg = 'Available slots for *' + ctx.extracted.service + '* on *' + ctx.extracted.date + '*:\\n\\n';\ntopSlots.forEach(function(slot, i) {\n  msg += (i + 1) + '. ' + slot.time + '\\n';\n});\nmsg += '\\nReply with *1*, *2*, or *3* to confirm your appointment.';\n\nconst newPendingBooking = {\n  service: ctx.extracted.service,\n  date: ctx.extracted.date,\n  name: ctx.extracted.name || ctx.name,\n  phone: ctx.from,\n  slots: topSlots,\n  step: 'awaiting_slot_selection'\n};\n\n// Preserve reschedule context if present\nif (isReschedule) {\n  newPendingBooking.existingAppointmentId = ctx.pendingBooking.existingAppointmentId;\n  newPendingBooking.existingCalendarEventId = ctx.pendingBooking.existingCalendarEventId;\n  newPendingBooking.isReschedule = true;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: msg,\n    pendingBooking: newPendingBooking\n  }\n}];\n"
        },
        "id": "appt-n016",
        "name": "Format Slot Options",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3312,
          0
        ]
      },
      {
        "parameters": {
          "url": "={{ 'http://host.docker.internal:3000/api/appointments/by-phone/' + $json.from }}",
          "options": {}
        },
        "id": "appt-n017",
        "name": "Find Existing Appointment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3088,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst appt = $input.first().json;\n\nif (!appt || !appt.id) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: \"I couldn't find an active appointment for your number. Would you like to book a new one?\",\n      pendingBooking: null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: `Found your appointment:\\n\\n?? *${appt.service}*\\n?? ${appt.date} at ${appt.time}\\n\\nWhat date would you like to reschedule to?`,\n    pendingBooking: {\n      step: 'awaiting_reschedule_date',\n      existingAppointmentId: appt.id,\n      existingCalendarEventId: appt.calendarEventId,\n      service: appt.service,\n      name: appt.name,\n      phone: ctx.from\n    }\n  }\n}];"
        },
        "id": "appt-n018",
        "name": "Format Reschedule Options",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3312,
          608
        ]
      },
      {
        "parameters": {
          "url": "={{ 'http://host.docker.internal:3000/api/appointments/by-phone/' + $json.from }}",
          "options": {}
        },
        "id": "appt-n019",
        "name": "Find Appointment to Cancel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3088,
          912
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst appt = $input.first().json;\n\nif (!appt || !appt.id) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: \"I couldn't find an active appointment for your number.\",\n      pendingBooking: null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: `Are you sure you want to cancel your appointment?\\n\\n?? *${appt.service}*\\n?? ${appt.date} at ${appt.time}\\n\\nReply *YES* to confirm cancellation.`,\n    pendingBooking: {\n      step: 'awaiting_cancel_confirmation',\n      existingAppointmentId: appt.id,\n      existingCalendarEventId: appt.calendarEventId,\n      service: appt.service,\n      date: appt.date,\n      time: appt.time\n    }\n  }\n}];"
        },
        "id": "appt-n020",
        "name": "Format Cancel Confirmation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3312,
          912
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst pending = ctx.pendingBooking;\nconst text = ctx.text.trim().toLowerCase();\n\nif (!pending || !pending.step) {\n  return [{ json: { ...ctx, confirmAction: 'none', responseText: ctx.aiReply || 'How can I help you? You can book, reschedule, or cancel an appointment.' } }];\n}\n\nif (pending.step === 'awaiting_slot_selection') {\n  const choice = parseInt(text) - 1;\n  const slot = pending.slots && pending.slots[choice] ? pending.slots[choice] : null;\n  if (!slot) {\n    return [{ json: { ...ctx, confirmAction: 'none', responseText: 'Please reply with *1*, *2*, or *3* to select your preferred time slot.' } }];\n  }\n  const confirmAction = pending.isReschedule ? 'reschedule_event' : 'create_event';\n  return [{ json: { ...ctx, confirmAction: confirmAction, selectedSlot: slot, pending } }];\n}\n\nif (pending.step === 'awaiting_cancel_confirmation') {\n  if (text === 'yes' || text === 'ya' || text === 'yeah' || text === 'yep' || text === 'ok' || text === 'okay') {\n    return [{ json: { ...ctx, confirmAction: 'cancel_event', pending } }];\n  }\n  return [{ json: { ...ctx, confirmAction: 'none', responseText: 'Cancellation aborted. Your appointment is still active.' } }];\n}\n\nreturn [{ json: { ...ctx, confirmAction: 'none', responseText: ctx.aiReply || 'How can I help you?' } }];\n"
        },
        "id": "appt-n021",
        "name": "Handle Confirmation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3088,
          1200
        ]
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.confirmAction }}",
          "rules": {
            "rules": [
              {
                "value2": "create_event"
              },
              {
                "value2": "cancel_event"
              },
              {
                "value2": "reschedule_event"
              }
            ]
          },
          "fallbackOutput": "extra"
        },
        "id": "appt-n022",
        "name": "Confirmation Action?",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 2,
        "position": [
          3312,
          1200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:3000/api/calendar/events",
          "sendBody": true,
          "options": {},
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ service: $json.extracted.service, date: $json.extracted.date, time: $json.extracted.time, name: $json.extracted.name || $json.name || $json.from, phone: $json.from, notes: $json.extracted.notes || null }) }}"
        },
        "id": "appt-n023",
        "name": "Create Calendar Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3520,
          1056
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Handle Confirmation').item.json;\nconst result = $input.first().json;\n\nconst confirmMsg = `? *Appointment Confirmed!*\\n\\n` +\n  `?? Service: ${ctx.pending.service}\\n` +\n  `?? Date: ${ctx.pending.date}\\n` +\n  `? Time: ${ctx.selectedSlot.time}\\n` +\n  `?? Name: ${ctx.pending.name}\\n` +\n  `?? Phone: ${ctx.from}\\n\\n` +\n  `You will receive a reminder 24 hours and 2 hours before your appointment.\\n\\n` +\n  `To reschedule or cancel, just message us here.`;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: confirmMsg,\n    pendingBooking: null,\n    calendarEventId: result.eventId || result.id || null\n  }\n}];"
        },
        "id": "appt-n024",
        "name": "Format Booking Confirmed",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3744,
          1056
        ]
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "={{ 'http://host.docker.internal:3000/api/calendar/events/' + $json.pending.existingCalendarEventId }}",
          "options": {}
        },
        "id": "appt-n025",
        "name": "Cancel Calendar Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3520,
          1360
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Handle Confirmation').item.json;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: '? Your appointment has been successfully cancelled.\\n\\nWe hope to see you soon! To book a new appointment, just send us a message.',\n    pendingBooking: null\n  }\n}];"
        },
        "id": "appt-n026",
        "name": "Format Cancel Confirmed",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3744,
          1360
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Parse Intent Response').item.json;\n\nconst defaultMsg = 'Hi! ?? I can help you with:\\n\\n?? *Book* an appointment\\n?? *Reschedule* your appointment\\n? *Cancel* your appointment\\n\\nWhat would you like to do?';\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: ctx.aiReply || defaultMsg,\n    pendingBooking: ctx.pendingBooking\n  }\n}];"
        },
        "id": "appt-n027",
        "name": "Format Unclear Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3088,
          1504
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst conversation = [...(item.conversation || [])];\n\nconversation.push({ role: 'user', content: item.text, ts: Date.now() });\nconversation.push({ role: 'assistant', content: item.responseText, ts: Date.now() });\n\nif (conversation.length > 20) conversation.splice(0, conversation.length - 20);\n\nconst updatedCustomer = {\n  ...(item.customer || {}),\n  name: item.extracted?.name || item.name || item.customer?.name || '',\n  phone: item.from,\n  pendingBooking: item.pendingBooking || null,\n  lastSeen: Date.now()\n};\n\nreturn [{\n  json: {\n    from: item.from,\n    phoneNumberId: item.phoneNumberId,\n    responseText: item.responseText,\n    sessionKey: item.sessionKey,\n    customerKey: item.customerKey,\n    conversationJson: JSON.stringify(conversation),\n    customerJson: JSON.stringify(updatedCustomer)\n  }\n}];"
        },
        "id": "appt-n028",
        "name": "Save Conversation Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3968,
          752
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ $json.sessionKey }}",
          "value": "={{ $json.conversationJson }}",
          "keyType": "string",
          "expire": true,
          "ttl": 86400
        },
        "id": "appt-n029",
        "name": "Save Conversation",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          4192,
          752
        ],
        "credentials": {
          "redis": {
            "id": "5ooDCfWfVCLgn9QF",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ $('Save Conversation Prep').item.json.customerKey }}",
          "value": "={{ $('Save Conversation Prep').item.json.customerJson }}",
          "keyType": "string",
          "expire": true,
          "ttl": 2592000
        },
        "id": "appt-n030",
        "name": "Save Customer Profile",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          4400,
          752
        ],
        "credentials": {
          "redis": {
            "id": "5ooDCfWfVCLgn9QF",
            "name": "Redis account"
          }
        }
      },
      {
        "credentials": {
          "httpHeaderAuth": {
            "id": "pcFpAYQlwDZ3PiNX",
            "name": "Header Auth account"
          }
        },
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "method": "POST",
          "url": "={{ 'https://graph.facebook.com/v19.0/' + $('Save Conversation Prep').item.json.phoneNumberId + '/messages' }}",
          "sendHeaders": false,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Save Conversation Prep').item.json.from, type: 'text', text: { body: $('Save Conversation Prep').item.json.responseText } }) }}",
          "options": {}
        },
        "id": "appt-n031",
        "name": "Send WhatsApp Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          4624,
          752
        ]
      },
      {
        "id": "resched1",
        "name": "Create Reschedule Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2200,
          500
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:3000/api/calendar/events",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ service: $json.pending.service, date: $json.pending.date, time: $json.selectedSlot.time, name: $json.pending.name || $json.name || $json.from, phone: $json.from, notes: null }) }}",
          "options": {}
        }
      },
      {
        "id": "resched2",
        "name": "Cancel Old Appointment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2420,
          500
        ],
        "parameters": {
          "method": "DELETE",
          "url": "={{ \"http://host.docker.internal:3000/api/calendar/events/\" + $(\"Handle Confirmation\").item.json.pending.existingCalendarEventId }}",
          "options": {}
        }
      },
      {
        "id": "resched3",
        "name": "Format Reschedule Confirmed",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          500
        ],
        "parameters": {
          "jsCode": "const ctx = $('Handle Confirmation').item.json;\nconst result = $input.first().json;\n\nconst msg = 'Your appointment has been rescheduled!\\n\\n' +\n  'Service: ' + ctx.pending.service + '\\n' +\n  'New Date: ' + ctx.pending.date + '\\n' +\n  'New Time: ' + ctx.selectedSlot.time + '\\n\\n' +\n  'Your old appointment has been cancelled. We look forward to seeing you!';\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: msg,\n    pendingBooking: null\n  }\n}];\n"
        }
      },
      {
        "id": "appt-voice-001",
        "name": "Is Voice Message?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1440,
          304
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.type }}",
                "value2": "audio"
              }
            ]
          }
        }
      },
      {
        "id": "appt-voice-002",
        "name": "Get Audio URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1552,
          80
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "pcFpAYQlwDZ3PiNX",
            "name": "Header Auth account"
          }
        },
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://graph.facebook.com/v19.0/' + $json.audioId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        }
      },
      {
        "id": "appt-voice-003",
        "name": "Download Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1776,
          80
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "pcFpAYQlwDZ3PiNX",
            "name": "Header Auth account"
          }
        },
        "parameters": {
          "method": "GET",
          "url": "={{ $json.url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "data"
              }
            }
          }
        }
      },
      {
        "id": "appt-voice-004",
        "name": "Transcribe Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2000,
          80
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "Y5W9LFb3jdX34kFz",
            "name": "Groq API"
          }
        },
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/audio/transcriptions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              },
              {
                "name": "model",
                "value": "whisper-large-v3-turbo"
              },
              {
                "name": "response_format",
                "value": "json"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "appt-voice-005",
        "name": "Inject Transcription",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2224,
          80
        ],
        "parameters": {
          "jsCode": "const transcription = $input.first().json.text || '';\nconst ctx = $('Prepare Data').item.json;\nreturn [{\n  json: {\n    ...ctx,\n    text: transcription,\n    isVoiceMessage: true\n  }\n}];"
        }
      }
    ],
    "connections": {
      "WhatsApp Webhook": {
        "main": [
          [
            {
              "node": "Parse Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Webhook": {
        "main": [
          [
            {
              "node": "Should Process?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Process?": {
        "main": [
          [
            {
              "node": "Check If Processed",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Check If Processed": {
        "main": [
          [
            {
              "node": "Is New Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is New Message?": {
        "main": [
          [
            {
              "node": "Lock Message",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Lock Message": {
        "main": [
          [
            {
              "node": "Prepare Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Data": {
        "main": [
          [
            {
              "node": "Is Voice Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Conversation": {
        "main": [
          [
            {
              "node": "Get Customer Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Customer Data": {
        "main": [
          [
            {
              "node": "Build AI Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build AI Context": {
        "main": [
          [
            {
              "node": "Build Ollama Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Ollama Request": {
        "main": [
          [
            {
              "node": "Detect Intent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Intent": {
        "main": [
          [
            {
              "node": "Parse Intent Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Intent Response": {
        "main": [
          [
            {
              "node": "Route by Intent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Intent": {
        "main": [
          [
            {
              "node": "Check Calendar Availability",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Find Existing Appointment",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Find Appointment to Cancel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle Confirmation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Unclear Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Calendar Availability": {
        "main": [
          [
            {
              "node": "Format Slot Options",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Slot Options": {
        "main": [
          [
            {
              "node": "Save Conversation Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Existing Appointment": {
        "main": [
          [
            {
              "node": "Format Reschedule Options",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Reschedule Options": {
        "main": [
          [
            {
              "node": "Save Conversation Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Appointment to Cancel": {
        "main": [
          [
            {
              "node": "Format Cancel Confirmation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Cancel Confirmation": {
        "main": [
          [
            {
              "node": "Save Conversation Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Confirmation": {
        "main": [
          [
            {
              "node": "Confirmation Action?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confirmation Action?": {
        "main": [
          [
            {
              "node": "Create Calendar Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cancel Calendar Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Reschedule Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Save Conversation Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Calendar Event": {
        "main": [
          [
            {
              "node": "Format Booking Confirmed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Booking Confirmed": {
        "main": [
          [
            {
              "node": "Save Conversation Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancel Calendar Event": {
        "main": [
          [
            {
              "node": "Format Cancel Confirmed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Cancel Confirmed": {
        "main": [
          [
            {
              "node": "Save Conversation Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Reschedule Event": {
        "main": [
          [
            {
              "node": "Cancel Old Appointment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancel Old Appointment": {
        "main": [
          [
            {
              "node": "Format Reschedule Confirmed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Reschedule Confirmed": {
        "main": [
          [
            {
              "node": "Save Conversation Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Unclear Response": {
        "main": [
          [
            {
              "node": "Save Conversation Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Conversation Prep": {
        "main": [
          [
            {
              "node": "Save Conversation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Conversation": {
        "main": [
          [
            {
              "node": "Save Customer Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Customer Profile": {
        "main": [
          [
            {
              "node": "Send WhatsApp Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Voice Message?": {
        "main": [
          [
            {
              "node": "Get Audio URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Conversation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Audio URL": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Transcribe Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Audio": {
        "main": [
          [
            {
              "node": "Inject Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inject Transcription": {
        "main": [
          [
            {
              "node": "Get Conversation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "bagus bagus",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-03T13:45:11.065Z",
        "id": 494,
        "workflowId": "2fyrX7SJFdRUNh9f",
        "versionId": "e25a1033-78b7-405a-b1da-6877d35ee98d",
        "event": "activated",
        "userId": "425d240d-1a04-4966-99d0-f9cdf7229c01"
      },
      {
        "createdAt": "2026-07-03T13:45:11.025Z",
        "id": 493,
        "workflowId": "2fyrX7SJFdRUNh9f",
        "versionId": "e25a1033-78b7-405a-b1da-6877d35ee98d",
        "event": "deactivated",
        "userId": "425d240d-1a04-4966-99d0-f9cdf7229c01"
      }
    ]
  }
}