workflow.json
{
    "updatedAt": "2026-07-08T04:53:50.887Z",
    "createdAt": "2026-06-30T16:01:25.986Z",
    "id": "2fyrX7SJFdRUNh9f",
    "name": "WhatsApp appointment booking automation",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-appointment",
                "options": {}
            },
            "id": "appt-n001",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                304
            ],
            "webhookId": "whatsapp-appt-booking-2024"
        },
        {
            "parameters": {
                "jsCode": "const VERIFY_TOKEN = '123456';\nconst input = $input.first().json;\n\n// Handle Meta webhook verification (GET request)\nconst query = input.query || {};\nif (query['hub.mode']) {\n  if (query['hub.mode'] === 'subscribe' && query['hub.verify_token'] === VERIFY_TOKEN) {\n    return [{ json: { type: 'verification', skip: true } }];\n  }\n  return [{ json: { type: 'forbidden', skip: true } }];\n}\n\n// Parse incoming WhatsApp message (POST request)\nconst body = input.body || input;\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst message = value?.messages?.[0];\nconst contact = value?.contacts?.[0];\n\nif (!message) return [{ json: { type: 'no_message', skip: true } }];\n\nconst msgAge = Math.floor(Date.now() / 1000) - parseInt(message.timestamp || 0);\nif (msgAge > 300) return [{ json: { type: 'expired', skip: true } }];\n\n// Handle audio/voice messages\nif (message.type === 'audio') {\n  return [{\n    json: {\n      skip: false,\n      messageId: message.id,\n      from: message.from,\n      type: 'audio',\n      audioId: message.audio.id,\n      text: '',\n      name: contact?.profile?.name || '',\n      timestamp: message.timestamp,\n      phoneNumberId: value.metadata?.phone_number_id\n    }\n  }];\n}\n\nif (message.type !== 'text' && message.type !== 'interactive') return [{ json: { type: message.type, skip: true } }];\n\nconst text = (message.text?.body || message.interactive?.button_reply?.title || '').trim();\nif (!text) return [{ json: { type: 'empty_text', skip: true } }];\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: message.id,\n    from: message.from,\n    type: message.type,\n    text,\n    name: contact?.profile?.name || '',\n    timestamp: message.timestamp,\n    phoneNumberId: value.metadata?.phone_number_id\n  }\n}];"
            },
            "id": "appt-n002",
            "name": "Parse Webhook",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                304
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ String($json.skip) }}",
                            "value2": "false"
                        }
                    ]
                }
            },
            "id": "appt-n003",
            "name": "Should Process?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                448,
                304
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "key": "={{ 'processed:' + $json.messageId }}",
                "options": {}
            },
            "id": "appt-n004",
            "name": "Check If Processed",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                672,
                304
            ],
            "credentials": {
                "redis": {
                    "id": "5ooDCfWfVCLgn9QF",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.value }}",
                            "operation": "isEmpty"
                        }
                    ]
                }
            },
            "id": "appt-n005",
            "name": "Is New Message?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                880,
                304
            ]
        },
        {
            "parameters": {
                "operation": "set",
                "key": "={{ 'processed:' + $('Parse Webhook').item.json.messageId }}",
                "value": "1",
                "keyType": "string",
                "expire": true,
                "ttl": 86400
            },
            "id": "appt-n006",
            "name": "Lock Message",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                1104,
                304
            ],
            "credentials": {
                "redis": {
                    "id": "5ooDCfWfVCLgn9QF",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1",
                            "name": "from",
                            "value": "={{ $('Parse Webhook').item.json.from }}",
                            "type": "string"
                        },
                        {
                            "id": "a2",
                            "name": "text",
                            "value": "={{ $('Parse Webhook').item.json.text }}",
                            "type": "string"
                        },
                        {
                            "id": "a3",
                            "name": "name",
                            "value": "={{ $('Parse Webhook').item.json.name }}",
                            "type": "string"
                        },
                        {
                            "id": "a4",
                            "name": "phoneNumberId",
                            "value": "={{ $('Parse Webhook').item.json.phoneNumberId }}",
                            "type": "string"
                        },
                        {
                            "id": "a5",
                            "name": "sessionKey",
                            "value": "={{ 'appt:session:' + $('Parse Webhook').item.json.from }}",
                            "type": "string"
                        },
                        {
                            "id": "a6",
                            "name": "customerKey",
                            "value": "={{ 'appt:customer:' + $('Parse Webhook').item.json.from }}",
                            "type": "string"
                        },
                        {
                            "id": "a7",
                            "name": "type",
                            "value": "={{ $('Parse Webhook').item.json.type }}",
                            "type": "string"
                        },
                        {
                            "id": "a8",
                            "name": "audioId",
                            "value": "={{ $('Parse Webhook').item.json.audioId || '' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "appt-n007",
            "name": "Prepare Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1264,
                304
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "propertyName": "value",
                "key": "={{ $json.sessionKey }}",
                "options": {}
            },
            "id": "appt-n008",
            "name": "Get Conversation",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                1616,
                304
            ],
            "credentials": {
                "redis": {
                    "id": "5ooDCfWfVCLgn9QF",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "propertyName": "value",
                "key": "={{ $('Prepare Data').item.json.customerKey }}",
                "options": {}
            },
            "id": "appt-n009",
            "name": "Get Customer Data",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                1808,
                304
            ],
            "credentials": {
                "redis": {
                    "id": "5ooDCfWfVCLgn9QF",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $('Prepare Data').item.json;\nconst convRaw = $('Get Conversation').item.json.value;\nconst custRaw = $('Get Customer Data').item.json.value;\n\n// For voice messages, use transcribed text from Inject Transcription\nlet text = data.text;\ntry {\n  const inj = $('Inject Transcription').item.json;\n  if (inj && inj.isVoiceMessage) text = inj.text;\n} catch(e) {}\n\nlet conversation = [];\ntry { conversation = JSON.parse(convRaw || '[]'); } catch(e) {}\n\nlet customer = {};\ntry { customer = JSON.parse(custRaw || '{}'); } catch(e) {}\n\nreturn [{\n  json: {\n    from: data.from,\n    text,\n    name: data.name || customer.name || '',\n    phoneNumberId: data.phoneNumberId,\n    sessionKey: data.sessionKey,\n    customerKey: data.customerKey,\n    conversation,\n    customer,\n    pendingBooking: customer.pendingBooking || null\n  }\n}];"
            },
            "id": "appt-n010",
            "name": "Build AI Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1984,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $input.first().json;\n\n// Hard-code slot selection - handles typed (1/2/3), time strings, am/pm, ordinals EN+ID\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_slot_selection') {\n  const slots = ctx.pendingBooking.slots || [];\n  const txt = ctx.text.trim().toLowerCase();\n  let slotIndex = -1;\n\n  // Numeric: 1, 2, 3\n  const num = parseInt(txt);\n  if (num >= 1 && num <= slots.length) slotIndex = num - 1;\n\n  // Number > 3: treat as time hour (e.g. \"9\" = 09:00, \"10\" = 10:00)\n  if (slotIndex < 0 && !isNaN(num) && num >= 1 && num <= 23) {\n    const hh = String(num).padStart(2, '0');\n    slotIndex = slots.findIndex(s => s.time === hh + ':00');\n    if (slotIndex < 0) slotIndex = slots.findIndex(s => s.time === hh + ':30');\n  }\n\n  // Time with colon or dot: 09:00, 9:00, 9.30\n  if (slotIndex < 0) {\n    const tm = txt.match(/(d{1,2})[.:](d{2})/);\n    if (tm) {\n      const timeStr = tm[1].padStart(2, '0') + ':' + tm[2];\n      slotIndex = slots.findIndex(s => s.time === timeStr);\n    }\n  }\n\n  // Time with am/pm: 9am, 9 am, 10am\n  if (slotIndex < 0) {\n    const ampm = txt.match(/(\\d{1,2})(?::(\\d{2}))?\\s*am/);\n    if (ampm) {\n      const timeStr = ampm[1].padStart(2, '0') + ':' + (ampm[2] || '00');\n      slotIndex = slots.findIndex(s => s.time === timeStr);\n    }\n  }\n\n  // Spoken time — full EN + ID lookup table\n  if (slotIndex < 0) {\n    const hourMap = {\n      // English\n      'one': '01', 'two': '02', 'three': '03', 'four': '04',\n      'five': '05', 'six': '06', 'seven': '07', 'eight': '08',\n      'nine': '09', 'ten': '10', 'eleven': '11', 'twelve': '12',\n      // Indonesian\n      'satu': '01', 'dua': '02', 'tiga': '03', 'empat': '04',\n      'lima': '05', 'enam': '06', 'tujuh': '07', 'delapan': '08',\n      'sembilan': '09', 'sepuluh': '10', 'sebelas': '11', 'dua belas': '12'\n    };\n    const minuteMap = {\n      'thirty': '30', 'half': '30', 'tiga puluh': '30',\n      'fifteen': '15', 'quarter': '15', 'lima belas': '15',\n      'forty five': '45', 'empat puluh lima': '45'\n    };\n    // setengah X = half past (X-1) in Indonesian: \"setengah sepuluh\" = 09:30\n    const setengahMap = {\n      'dua': '01', 'tiga': '02', 'empat': '03', 'lima': '04',\n      'enam': '05', 'tujuh': '06', 'delapan': '07', 'sembilan': '08',\n      'sepuluh': '09', 'sebelas': '10', 'dua belas': '11'\n    };\n    // Check \"setengah X\" first (Indonesian half-past)\n    const setengahMatch = txt.match(/setengah\\s+(\\w+(?:\\s+\\w+)?)/);\n    if (setengahMatch) {\n      const nextWord = setengahMatch[1];\n      if (setengahMap[nextWord]) slotIndex = slots.findIndex(s => s.time === setengahMap[nextWord] + ':30');\n    }\n    // Check hour word + optional minute word\n    if (slotIndex < 0) {\n      let hour = null, minute = '00';\n      // Try two-word hours first (dua belas, etc.)\n      for (const [word, h] of Object.entries(hourMap)) {\n        if (txt.includes(word)) { hour = h; break; }\n      }\n      if (hour) {\n        for (const [word, m] of Object.entries(minuteMap)) {\n          if (txt.includes(word)) { minute = m; break; }\n        }\n        slotIndex = slots.findIndex(s => s.time === hour + ':' + minute);\n      }\n    }\n  }\n\n    // Ordinals — English + Indonesian\n  if (slotIndex < 0) {\n    const ordMap = [\n      ['first','one','satu','pertama','1st'],\n      ['second','two','dua','kedua','2nd','nomor 2','no 2','number 2'],\n      ['third','three','tiga','ketiga','3rd','nomor 3','no 3','number 3']\n    ];\n    for (let i = 0; i < ordMap.length; i++) {\n      if (i < slots.length && ordMap[i].some(k => txt.includes(k))) { slotIndex = i; break; }\n    }\n  }\n\n  if (slotIndex >= 0) {\n    return [{ json: Object.assign({}, ctx, { _slotIndex: slotIndex, ollamaBody: null }) }];\n  }\n}\n\n// Hard-code cancel confirmation reply - don't send to LLM, avoids \"yes\" being misclassified as intent=cancel again\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_cancel_confirmation') {\n  return [{ json: Object.assign({}, ctx, { _cancelConfirm: true, ollamaBody: null }) }];\n}\n\n// Time reselect bypass — user providing new time after \"X not available\"\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_time_reselect') {\n  const txt = ctx.text.trim().toLowerCase();\n  let time = null;\n  const ampm = txt.match(/(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)/i);\n  const colon = txt.match(/(\\d{1,2})[.:](\\d{2})/);\n  const bare = txt.match(/^(\\d{1,2})$/);\n  if (ampm) {\n    let h = parseInt(ampm[1]); const min = ampm[2] || '00';\n    if (ampm[3].toLowerCase() === 'pm' && h < 12) h += 12;\n    if (ampm[3].toLowerCase() === 'am' && h === 12) h = 0;\n    time = String(h).padStart(2,'0') + ':' + min;\n  } else if (colon) { time = colon[1].padStart(2,'0') + ':' + colon[2]; }\n  else if (bare) { time = bare[1].padStart(2,'0') + ':00'; }\n  if (time) {\n    return [{ json: Object.assign({}, ctx, { _newTime: time, ollamaBody: null }) }];\n  }\n}\n\n\nconst todayDate = new Date();\nconst today = todayDate.toISOString().slice(0, 10);\nconst dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\nconst todayFull = dayNames[todayDate.getDay()] + ', ' + today;\n\n// Pre-compute next 7 days with explicit day-name → date mapping (so LLM doesn't need to calculate)\nconst dateMap = [];\nfor (let i = 1; i <= 7; i++) {\n  const d = new Date(todayDate);\n  d.setDate(todayDate.getDate() + i);\n  const iso = d.toISOString().slice(0, 10);\n  const label = i === 1 ? 'Tomorrow' : dayNames[d.getDay()];\n  dateMap.push('- ' + label + ': ' + iso);\n}\nconst upcomingDays = dateMap.join('\\n');\n\nconst systemPrompt = \"You are an appointment booking assistant for Bright Smile Dental Clinic.\\n\" +\n  \"Today is \" + todayFull + \".\\n\" +\n      \"Upcoming dates:\\n\" + upcomingDays + \"\\n\\n\" +\n  \"Services available:\\n\" +\n  \"- Cleaning (30 minutes)\\n\" +\n  \"- First Visit (60 minutes)\\n\" +\n  \"- Emergency (30 minutes)\\n\\n\" +\n  \"Business hours: Monday-Sunday, open 24 hours\\n\\n\" +\n  \"Current pending booking context: \" + JSON.stringify(ctx.pendingBooking || null) + \"\\n\" +\n  \"Recent conversation (last 6 messages): \" + JSON.stringify(ctx.conversation.slice(-6)) + \"\\n\\n\" +\n  \"Analyze the user message and respond ONLY with valid JSON:\\n\" +\n  \"{\\n\" +\n  \"  \\\"intent\\\": \\\"booking\\\" | \\\"reschedule\\\" | \\\"cancel\\\" | \\\"confirmation\\\" | \\\"unclear\\\",\\n\" +\n  \"  \\\"service\\\": \\\"Cleaning\\\" | \\\"First Visit\\\" | \\\"Emergency\\\" | null,\\n\" +\n  \"  \\\"date\\\": \\\"YYYY-MM-DD\\\" | null,\\n\" +\n  \"  \\\"time\\\": \\\"HH:MM\\\" | null,\\n\" +\n  \"  \\\"name\\\": null,\\n\" +\n  \"  \\\"notes\\\": null,\\n\" +\n  \"  \\\"confidence\\\": 0.0,\\n\" +\n  \"  \\\"reply\\\": \\\"\\\"\\n\" +\n  \"}\\n\\n\" +\n  \"Rules:\\n\" +\n  \"- Always resolve relative dates (next Monday, tomorrow, today, for the day, tonight) using today: \" + todayFull + \"\\n\" +\n  \"- Use list_appointments intent when user asks about their existing appointments — e.g. 'what is my appointment', 'my appointment', 'show my bookings', 'do I have appointments', 'what time is my appointment', 'check my schedule'\\n\" +\n  \"- Write reply in friendly conversational tone\\n\" +\n  \"- When user says thanks/ok/bye after a completed booking, reply with a short warm closing only — do NOT prompt to book/reschedule/cancel\";\n\nconst requestBody = {\n  model: 'llama3:latest',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: ctx.text }\n  ],\n  format: 'json',\n  stream: false\n};\n\nreturn [{ json: Object.assign({}, ctx, { ollamaBody: JSON.stringify(requestBody) }) }];\n"
            },
            "id": "appt-n011",
            "name": "Build Ollama Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2208,
                304
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:11434/api/chat",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ $json.ollamaBody }}",
                "options": {}
            },
            "id": "appt-n012",
            "name": "Detect Intent",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                2432,
                304
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Build Ollama Request').item.json;\n\n// Slot selection bypass - _slotIndex set by Build Ollama Request, skip LLM response\nif (ctx._slotIndex !== undefined && ctx._slotIndex !== null) {\n  const slot = (ctx.pendingBooking && ctx.pendingBooking.slots ? ctx.pendingBooking.slots[ctx._slotIndex] : null);\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'confirmation',\n      extracted: {\n        service: ctx.pendingBooking ? ctx.pendingBooking.service : null,\n        date: ctx.pendingBooking ? ctx.pendingBooking.date : null,\n        time: slot ? slot.time : null,\n        name: ctx.name || null,\n        notes: null\n      },\n      selectedSlot: slot || null,\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\n// Cancel confirmation bypass - _cancelConfirm set by Build Ollama Request, skip LLM response\n// Handle Confirmation node already inspects ctx.text for yes/no during awaiting_cancel_confirmation,\n// so forcing intent to 'confirmation' here is enough to stop the LLM from re-classifying \"yes\" as intent=cancel\nif (ctx._cancelConfirm) {\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'confirmation',\n      extracted: {\n        service: null, date: null, time: null,\n        name: ctx.name || null, notes: null\n      },\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\n// Time reselect bypass — _newTime set by Build Ollama Request\nif (ctx._newTime) {\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'booking',\n      extracted: {\n        service: ctx.pendingBooking ? ctx.pendingBooking.service : null,\n        date: ctx.pendingBooking ? ctx.pendingBooking.date : null,\n        time: ctx._newTime,\n        name: ctx.name || null, notes: null\n      },\n      confidence: 1.0, aiReply: ''\n    }\n  }];\n}\n\n\n// Reschedule date bypass — _rescheduleDate set by Build Ollama Request\nif (ctx._rescheduleDate) {\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'booking',\n      extracted: {\n        service: ctx.pendingBooking ? ctx.pendingBooking.service : null,\n        date: ctx._rescheduleDate,\n        time: ctx._rescheduleTime || null,\n        name: ctx.name || null,\n        notes: null\n      },\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\n\nconst aiResponse = $input.first().json;\nlet parsed = {};\ntry {\n  const content = aiResponse.message && aiResponse.message.content ? aiResponse.message.content : (aiResponse.response || '');\n  parsed = JSON.parse(content);\n} catch(e) {\n  parsed = { intent: 'unclear', confidence: 0, reply: 'Sorry, I had trouble understanding. Could you please rephrase?' };\n}\n\n// Reschedule date intercept - user just provided new date for reschedule\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_reschedule_date') {\n  const date = parsed.date || null;\n  if (date) {\n    return [{\n      json: {\n        from: ctx.from, text: ctx.text, name: ctx.name,\n        phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n        customerKey: ctx.customerKey, conversation: ctx.conversation,\n        customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n        intent: 'booking',\n        extracted: {\n          service: ctx.pendingBooking.service,\n          date: date,\n          time: parsed.time || null,\n          name: parsed.name || ctx.name || null,\n          notes: null\n        },\n        confidence: 1.0,\n        aiReply: ''\n      }\n    }];\n  }\n}\n\nreturn [{\n  json: {\n    from: ctx.from, text: ctx.text, name: ctx.name,\n    phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey, conversation: ctx.conversation,\n    customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n    intent: parsed.intent || 'unclear',\n    extracted: {\n      service: parsed.service || null,\n      date: parsed.date || null,\n      time: parsed.time || null,\n      name: parsed.name || ctx.name || null,\n      notes: parsed.notes || null\n    },\n    confidence: parsed.confidence || 0,\n    aiReply: parsed.reply || ''\n  }\n}];\n"
            },
            "id": "appt-n013",
            "name": "Parse Intent Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2640,
                304
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.intent }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "booking"
                        },
                        {
                            "value2": "reschedule"
                        },
                        {
                            "value2": "cancel"
                        },
                        {
                            "value2": "confirmation"
                        },
                        {
                            "value2": "list_appointments"
                        },
                        {
                            "value2": "unclear"
                        }
                    ]
                },
                "fallbackOutput": 5
            },
            "id": "appt-n014",
            "name": "Route by Intent",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 2,
            "position": [
                2864,
                304
            ]
        },
        {
            "parameters": {
                "url": "http://host.docker.internal:3000/api/calendar/availability",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "date",
                            "value": "={{ $json.extracted.date }}"
                        },
                        {
                            "name": "service",
                            "value": "={{ $json.extracted.service }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "appt-n015",
            "name": "Check Calendar Availability",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                3088,
                0
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst result = $input.first().json;\nconst slots = result.slots || [];\n\nif (!ctx.extracted.date) {\n  return [{\n    json: {\n      ...ctx,\n      autoBooked: false,\n      responseText: 'What date would you like to book? (e.g. Monday, tomorrow, July 14)',\n      pendingBooking: { ...ctx.pendingBooking, service: ctx.extracted.service, step: 'awaiting_date' }\n    }\n  }];\n}\n\nif (!ctx.extracted.service) {\n  return [{\n    json: {\n      ...ctx,\n      autoBooked: false,\n      responseText: 'Which service do you need?\\n\\n1. Cleaning (30 min)\\n2. First Visit (60 min)\\n3. Emergency (30 min)',\n      pendingBooking: { step: 'awaiting_service', date: ctx.extracted.date }\n    }\n  }];\n}\n\nif (slots.length === 0) {\n  return [{\n    json: {\n      ...ctx,\n      autoBooked: false,\n      responseText: 'Sorry, no available slots on ' + ctx.extracted.date + '. Would you like to try a different date?',\n      pendingBooking: null\n    }\n  }];\n}\n\nconst topSlots = slots.slice(0, 3);\nconst isReschedule = ctx.pendingBooking && ctx.pendingBooking.existingAppointmentId;\nconst extracted = ctx.extracted;\n\n// ── preferred time matching (only for fresh bookings, not reschedule) ──────────\nconst preferredTime = ctx.extracted.time || null;\nlet matchedSlot = null;\n\nif (preferredTime) {\n  let normalizedTime = null;\n\n  // \"9am\", \"10am\", \"9:00am\"\n  const ampmMatch = preferredTime.match(/(\\d{1,2})(?::(\\d{2}))?\\s*am/i);\n  // \"09:00\", \"9:00\", \"9.30\"\n  const colonMatch = preferredTime.match(/(\\d{1,2})[.:](\\d{2})/);\n  // bare hour: \"9\", \"10\"\n  const hourMatch = preferredTime.match(/^(\\d{1,2})$/);\n\n  if (ampmMatch) {\n    normalizedTime = ampmMatch[1].padStart(2, '0') + ':' + (ampmMatch[2] || '00');\n  } else if (colonMatch) {\n    normalizedTime = colonMatch[1].padStart(2, '0') + ':' + colonMatch[2];\n  } else if (hourMatch) {\n    normalizedTime = hourMatch[1].padStart(2, '0') + ':00';\n  }\n\n  if (normalizedTime) {\n    matchedSlot = slots.find(s => s.time === normalizedTime) || null;\n  }\n}\n\nif (matchedSlot) {\n  return [{\n    json: {\n      ...ctx,\n      autoBooked: true,\n      selectedSlot: matchedSlot,\n      extracted: { ...ctx.extracted, time: matchedSlot.time },\n      pendingBooking: isReschedule ? {\n        existingAppointmentId: ctx.pendingBooking.existingAppointmentId,\n        existingCalendarEventId: ctx.pendingBooking.existingCalendarEventId,\n        service: ctx.pendingBooking.service,\n        name: ctx.pendingBooking.name,\n        isReschedule: true\n      } : null\n    }\n  }];\n}\n\n// ── build response message ────────────────────────────────────────────────────\nconst newPendingBooking = {\n  service: extracted.service,\n  date: extracted.date,\n  name: extracted.name || ctx.name,\n  phone: ctx.from,\n  slots: topSlots,\n  step: 'awaiting_slot_selection'\n};\nlet msg = '';\nif (preferredTime) {\n  msg = 'Sorry, *' + preferredTime + '* is not available on ' + extracted.date + '. Please provide a different time.';\n  newPendingBooking.step = 'awaiting_time_reselect';\n} else {\n  msg += 'Available slots for *' + extracted.service + '* on *' + extracted.date + '*:\\n\\n';\n  topSlots.forEach(function(slot, i) { msg += (i + 1) + '. ' + slot.time + '\\n'; });\n  msg += '\\nReply with *1*, *2*, or *3* to confirm your appointment.';\n}\n\nif (isReschedule) {\n  newPendingBooking.existingAppointmentId = ctx.pendingBooking.existingAppointmentId;\n  newPendingBooking.existingCalendarEventId = ctx.pendingBooking.existingCalendarEventId;\n  newPendingBooking.isReschedule = true;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    autoBooked: false,\n    responseText: msg,\n    pendingBooking: newPendingBooking\n  }\n}];"
            },
            "id": "appt-n016",
            "name": "Format Slot Options",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3312,
                0
            ]
        },
        {
            "parameters": {
                "url": "={{ 'http://host.docker.internal:3000/api/appointments/by-phone/' + $json.from + ($json.extracted && $json.extracted.date && $json.extracted.date !== 'null' ? '?date=' + $json.extracted.date : '') }}",
                "options": {}
            },
            "id": "appt-n017",
            "name": "Find Existing Appointment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                3120,
                528
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst appt = $input.first().json;\n\nif (!appt || !appt.id) {\n  return [{ json: { ...ctx, responseText: \"I couldn't find an active appointment. Would you like to book a new one?\", pendingBooking: null } }];\n}\n\n// Get time from LLM extraction OR parse from raw text\nlet extractedTime = (ctx.extracted && ctx.extracted.time && ctx.extracted.time !== 'null') ? ctx.extracted.time : null;\nif (!extractedTime) {\n  const txt = ctx.text.trim().toLowerCase();\n  const ampm = txt.match(/(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)/i);\n  const colon = txt.match(/(\\d{1,2})[.:](\\d{2})/);\n  if (ampm) {\n    let h = parseInt(ampm[1]); const min = ampm[2] || '00';\n    if (ampm[3].toLowerCase() === 'pm' && h < 12) h += 12;\n    if (ampm[3].toLowerCase() === 'am' && h === 12) h = 0;\n    extractedTime = String(h).padStart(2,'0') + ':' + min;\n  } else if (colon) {\n    extractedTime = colon[1].padStart(2,'0') + ':' + colon[2];\n  }\n}\n\nconst extractedDate = (ctx.extracted && ctx.extracted.date && ctx.extracted.date !== 'null') ? ctx.extracted.date : null;\n\nconst pendingBooking = {\n  step: 'awaiting_reschedule_date',\n  existingAppointmentId: appt.id,\n  existingCalendarEventId: appt.calendarEventId,\n  service: appt.service,\n  name: appt.name,\n  phone: ctx.from,\n  date: appt.date,\n  time: extractedTime || null\n};\n\nlet responseText;\nif (extractedTime && !extractedDate) {\n  responseText = 'Found your appointment:\\n\\n*' + appt.service + '*\\n' + appt.date + ' at ' + appt.time + '\\n\\nI will reschedule to *' + extractedTime + '*. Reply *today* to confirm same date, or provide a different date.';\n} else {\n  responseText = 'Found your appointment:\\n\\n*' + appt.service + '*\\n' + appt.date + ' at ' + appt.time + '\\n\\nWhat date would you like to reschedule to?';\n}\n\nreturn [{ json: { ...ctx, responseText, pendingBooking } }];"
            },
            "id": "appt-n018",
            "name": "Format Reschedule Options",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3328,
                528
            ]
        },
        {
            "parameters": {
                "url": "={{ 'http://host.docker.internal:3000/api/appointments/by-phone/' + $json.from }}",
                "options": {}
            },
            "id": "appt-n019",
            "name": "Find Appointment to Cancel",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                3088,
                912
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst appt = $input.first().json;\n\nif (!appt || !appt.id) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: \"I couldn't find an active appointment for your number.\",\n      pendingBooking: null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: `Are you sure you want to cancel your appointment?\\n\\n?? *${appt.service}*\\n?? ${appt.date} at ${appt.time}\\n\\nReply *YES* to confirm cancellation.`,\n    pendingBooking: {\n      step: 'awaiting_cancel_confirmation',\n      existingAppointmentId: appt.id,\n      existingCalendarEventId: appt.calendarEventId,\n      service: appt.service,\n      date: appt.date,\n      time: appt.time\n    }\n  }\n}];"
            },
            "id": "appt-n020",
            "name": "Format Cancel Confirmation",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3312,
                912
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst pending = ctx.pendingBooking;\nconst text = ctx.text.trim().toLowerCase();\n\nif (!pending || !pending.step) {\n  return [{ json: { ...ctx, confirmAction: 'none', responseText: ctx.aiReply || 'How can I help you? You can book, reschedule, or cancel an appointment.' } }];\n}\n\nif (pending.step === 'awaiting_slot_selection') {\n  // If Parse Intent Response bypass already resolved the slot, use it directly\n  if (ctx.selectedSlot) {\n    const confirmAction = pending.isReschedule ? 'reschedule_event' : 'create_event';\n    return [{ json: { ...ctx, confirmAction, selectedSlot: ctx.selectedSlot, pending } }];\n  }\n\n  const slots = pending.slots || [];\n  let slot = null;\n\n  // Numeric: 1, 2, 3\n  const choice = parseInt(text) - 1;\n  if (choice >= 0 && choice < slots.length) slot = slots[choice];\n\n  // Number as hour: \"9\" = 09:00\n  if (!slot && !isNaN(parseInt(text))) {\n    const hh = String(parseInt(text)).padStart(2, '0');\n    slot = slots.find(s => s.time === hh + ':00') || slots.find(s => s.time === hh + ':30') || null;\n  }\n\n  // Time with colon or dot: 09:00, 9:00, 9.30\n  if (!slot) {\n    const tm = text.match(/(\\d{1,2})[.:]( \\d{2})/);\n    if (tm) slot = slots.find(s => s.time === tm[1].padStart(2,'0') + ':' + tm[2].trim()) || null;\n  }\n\n  // Time with am/pm: 9am, 9 am, 10am\n  if (!slot) {\n    const ampm = text.match(/(\\d{1,2})(?::(\\d{2}))?\\s*am/);\n    if (ampm) slot = slots.find(s => s.time === ampm[1].padStart(2,'0') + ':' + (ampm[2] || '00')) || null;\n  }\n\n  // Spoken hour words EN + ID\n  if (!slot) {\n    const hourMap = {\n      'one':'01','two':'02','three':'03','four':'04','five':'05','six':'06',\n      'seven':'07','eight':'08','nine':'09','ten':'10','eleven':'11','twelve':'12',\n      'satu':'01','dua':'02','tiga':'03','empat':'04','lima':'05','enam':'06',\n      'tujuh':'07','delapan':'08','sembilan':'09','sepuluh':'10','sebelas':'11'\n    };\n    const minuteMap = { 'thirty':'30','half':'30','tiga puluh':'30' };\n    let hour = null, minute = '00';\n    for (const [w, h] of Object.entries(hourMap)) { if (text.includes(w)) { hour = h; break; } }\n    if (hour) {\n      for (const [w, m] of Object.entries(minuteMap)) { if (text.includes(w)) { minute = m; break; } }\n      slot = slots.find(s => s.time === hour + ':' + minute) || null;\n    }\n  }\n\n  // Ordinals EN + ID\n  if (!slot) {\n    const ordMap = [\n      ['first','one','satu','pertama','1st'],\n      ['second','dua','kedua','2nd','nomor 2','no 2','number 2'],\n      ['third','tiga','ketiga','3rd','nomor 3','no 3','number 3']\n    ];\n    for (let i = 0; i < ordMap.length; i++) {\n      if (i < slots.length && ordMap[i].some(k => text.includes(k))) { slot = slots[i]; break; }\n    }\n  }\n\n  if (!slot) {\n    return [{ json: { ...ctx, confirmAction: 'none', responseText: 'Please reply with *1*, *2*, or *3* to select your preferred time slot.' } }];\n  }\n  const confirmAction = pending.isReschedule ? 'reschedule_event' : 'create_event';\n  return [{ json: { ...ctx, confirmAction, selectedSlot: slot, pending } }];\n}\n\nif (pending.step === 'awaiting_cancel_confirmation') {\n  if (text === 'yes' || text === 'ya' || text === 'yeah' || text === 'yep' || text === 'ok' || text === 'okay') {\n    return [{ json: { ...ctx, confirmAction: 'cancel_event', pending } }];\n  }\n  return [{ json: { ...ctx, confirmAction: 'none', responseText: 'Cancellation aborted. Your appointment is still active.' } }];\n}\n\nreturn [{ json: { ...ctx, confirmAction: 'none', responseText: ctx.aiReply || 'How can I help you?' } }];"
            },
            "id": "appt-n021",
            "name": "Handle Confirmation",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3088,
                1200
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.confirmAction }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "create_event"
                        },
                        {
                            "value2": "cancel_event"
                        },
                        {
                            "value2": "reschedule_event"
                        },
                        {
                            "value2": "none"
                        }
                    ]
                },
                "fallbackOutput": 3
            },
            "id": "appt-n022",
            "name": "Confirmation Action?",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 2,
            "position": [
                3312,
                1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.pendingBooking && $json.pendingBooking.existingCalendarEventId ? 'http://host.docker.internal:3000/api/appointments/reschedule' : 'http://host.docker.internal:3000/api/calendar/events' }}",
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify($json.pendingBooking && $json.pendingBooking.existingCalendarEventId ? { appointmentId: $json.pendingBooking.existingAppointmentId, oldCalendarEventId: $json.pendingBooking.existingCalendarEventId, service: $json.extracted.service, date: $json.extracted.date, time: $json.extracted.time, name: $json.extracted.name || $json.name || $json.from, phone: $json.from } : { service: $json.extracted.service, date: $json.extracted.date, time: $json.extracted.time, name: $json.extracted.name || $json.name || $json.from, phone: $json.from, notes: $json.extracted.notes || null }) }}",
                "options": {}
            },
            "id": "appt-n023",
            "name": "Create Calendar Event",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                3520,
                1056
            ]
        },
        {
            "parameters": {
                "jsCode": "// Try Handle Confirmation (normal path), fall back to Format Slot Options (auto-book path)\nlet ctx;\ntry {\n  const hc = $('Handle Confirmation').item.json;\n  if (!hc || !hc.pending || !hc.selectedSlot) throw new Error('no data');\n  ctx = hc;\n} catch(e) {\n  const fso = $('Format Slot Options').item.json;\n  ctx = {\n    ...fso,\n    pending: {\n      service: fso.extracted.service,\n      date: fso.extracted.date,\n      name: fso.extracted.name || fso.name\n    },\n    selectedSlot: fso.selectedSlot\n  };\n}\n\nconst result = $input.first().json;\n\nconst confirmMsg = `*Appointment Confirmed!*\\n\\n` +\n  `Service: ${ctx.pending.service}\\n` +\n  `Date: ${ctx.pending.date}\\n` +\n  `Time: ${ctx.selectedSlot.time}\\n` +\n  `Name: ${ctx.pending.name}\\n` +\n  `Phone: ${ctx.from}\\n\\n` +\n  `You will receive a reminder 24 hours and 2 hours before your appointment.\\n\\n` +\n  `To reschedule or cancel, just message us here.`;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: confirmMsg,\n    pendingBooking: null,\n    calendarEventId: result.eventId || result.id || null\n  }\n}];"
            },
            "id": "appt-n024",
            "name": "Format Booking Confirmed",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3744,
                1056
            ]
        },
        {
            "parameters": {
                "method": "DELETE",
                "url": "={{ 'http://host.docker.internal:3000/api/calendar/events/' + $json.pending.existingCalendarEventId }}",
                "options": {}
            },
            "id": "appt-n025",
            "name": "Cancel Calendar Event",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                3520,
                1360
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Handle Confirmation').item.json;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: '? Your appointment has been successfully cancelled.\\n\\nWe hope to see you soon! To book a new appointment, just send us a message.',\n    pendingBooking: null\n  }\n}];"
            },
            "id": "appt-n026",
            "name": "Format Cancel Confirmed",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3744,
                1360
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $input.first().json;\n\nconst defaultMsg = 'Hi! I can help you with:\\n\\n- *Book* an appointment\\n- *Reschedule* your appointment\\n- *Cancel* your appointment\\n\\nWhat would you like to do?';\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: ctx.aiReply || defaultMsg,\n    pendingBooking: ctx.pendingBooking || null\n  }\n}];"
            },
            "id": "appt-n027",
            "name": "Format Unclear Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3088,
                1504
            ]
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\nconst conversation = [...(item.conversation || [])];\n\nconversation.push({ role: 'user', content: item.text, ts: Date.now() });\nconversation.push({ role: 'assistant', content: item.responseText, ts: Date.now() });\n\nif (conversation.length > 20) conversation.splice(0, conversation.length - 20);\n\nconst updatedCustomer = {\n  ...(item.customer || {}),\n  name: item.extracted?.name || item.name || item.customer?.name || '',\n  phone: item.from,\n  pendingBooking: item.pendingBooking || null,\n  lastSeen: Date.now()\n};\n\nreturn [{\n  json: {\n    from: item.from,\n    phoneNumberId: item.phoneNumberId,\n    responseText: item.responseText,\n    sessionKey: item.sessionKey,\n    customerKey: item.customerKey,\n    conversationJson: JSON.stringify(conversation),\n    customerJson: JSON.stringify(updatedCustomer)\n  }\n}];"
            },
            "id": "appt-n028",
            "name": "Save Conversation Prep",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3968,
                752
            ]
        },
        {
            "parameters": {
                "operation": "set",
                "key": "={{ $json.sessionKey }}",
                "value": "={{ $json.conversationJson }}",
                "keyType": "string",
                "expire": true,
                "ttl": 86400
            },
            "id": "appt-n029",
            "name": "Save Conversation",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                4192,
                752
            ],
            "credentials": {
                "redis": {
                    "id": "5ooDCfWfVCLgn9QF",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "operation": "set",
                "key": "={{ $('Save Conversation Prep').item.json.customerKey }}",
                "value": "={{ $('Save Conversation Prep').item.json.customerJson }}",
                "keyType": "string",
                "expire": true,
                "ttl": 2592000
            },
            "id": "appt-n030",
            "name": "Save Customer Profile",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                4400,
                752
            ],
            "credentials": {
                "redis": {
                    "id": "5ooDCfWfVCLgn9QF",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ 'https://graph.facebook.com/v19.0/' + $('Save Conversation Prep').item.json.phoneNumberId + '/messages' }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Save Conversation Prep').item.json.from, type: 'text', text: { body: $('Save Conversation Prep').item.json.responseText } }) }}",
                "options": {}
            },
            "id": "appt-n031",
            "name": "Send WhatsApp Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                4624,
                752
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "pcFpAYQlwDZ3PiNX",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3000/api/appointments/reschedule",
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ appointmentId: $json.pending.existingAppointmentId, oldCalendarEventId: $json.pending.existingCalendarEventId, service: $json.pending.service, date: $json.pending.date, time: $json.selectedSlot.time, name: $json.pending.name || $json.name || $json.from, phone: $json.from }) }}",
                "options": {}
            },
            "id": "resched1",
            "name": "Create Reschedule Event",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2208,
                512
            ]
        },
        {
            "parameters": {
                "method": "DELETE",
                "url": "={{ \"http://host.docker.internal:3000/api/calendar/events/\" + $(\"Handle Confirmation\").item.json.pending.existingCalendarEventId }}",
                "options": {}
            },
            "id": "resched2",
            "name": "Cancel Old Appointment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2432,
                512
            ]
        },
        {
            "parameters": {
                "jsCode": "const ctx = $('Handle Confirmation').item.json;\nconst result = $input.first().json;\n\nconst msg = 'Your appointment has been rescheduled!\\n\\n' +\n  'Service: ' + ctx.pending.service + '\\n' +\n  'New Date: ' + ctx.pending.date + '\\n' +\n  'New Time: ' + ctx.selectedSlot.time + '\\n\\n' +\n  'Your old appointment has been cancelled. We look forward to seeing you!';\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: msg,\n    pendingBooking: null\n  }\n}];\n"
            },
            "id": "resched3",
            "name": "Format Reschedule Confirmed",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2640,
                512
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.type }}",
                            "value2": "audio"
                        }
                    ]
                }
            },
            "id": "appt-voice-001",
            "name": "Is Voice Message?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1424,
                304
            ]
        },
        {
            "parameters": {
                "url": "={{ 'https://graph.facebook.com/v19.0/' + $json.audioId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "appt-voice-002",
            "name": "Get Audio URL",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                1536,
                16
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "pcFpAYQlwDZ3PiNX",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $json.url }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "appt-voice-003",
            "name": "Download Audio",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                1664,
                16
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "pcFpAYQlwDZ3PiNX",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/audio/transcriptions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "parameterType": "formBinaryData",
                            "name": "file",
                            "inputDataFieldName": "data"
                        },
                        {
                            "name": "model",
                            "value": "whisper-large-v3-turbo"
                        },
                        {
                            "name": "response_format",
                            "value": "json"
                        }
                    ]
                },
                "options": {}
            },
            "id": "appt-voice-004",
            "name": "Transcribe Audio",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                1808,
                16
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Y5W9LFb3jdX34kFz",
                    "name": "Groq API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const transcription = $input.first().json.text || '';\nconst ctx = $('Prepare Data').item.json;\nreturn [{\n  json: {\n    ...ctx,\n    text: transcription,\n    isVoiceMessage: true\n  }\n}];"
            },
            "id": "appt-voice-005",
            "name": "Inject Transcription",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1952,
                16
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.autoBooked }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "appt-autobook-001",
            "name": "Auto Book?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                3552,
                0
            ]
        },
        {
            "parameters": {
                "url": "={{ 'http://host.docker.internal:3000/api/appointments/upcoming/' + $json.from }}",
                "options": {}
            },
            "id": "appt-list-001",
            "name": "Fetch Appointments List",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3104,
                704
            ]
        },
        {
            "parameters": {
                "jsCode": "const appts = $input.all().map(i => i.json);\nlet ctx;\ntry {\n  ctx = $('Parse Intent Response').first().json;\n} catch(e) {\n  ctx = $input.first().json;\n}\n\nlet msg = '';\nif (!appts || appts.length === 0) {\n  msg = \"You don't have any upcoming appointments. Would you like to book one?\";\n} else {\n  msg = '*Your Upcoming Appointments:*\\n\\n';\n  appts.forEach(function(a, i) {\n    msg += (i + 1) + '.  *' + a.service + '*\\n';\n    msg += '   ' + a.date + ' at ' + a.time + '\\n';\n    if (i < appts.length - 1) msg += '\\n';\n  });\n  msg += '\\nTo reschedule or cancel, just let me know!';\n}\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: msg,\n    pendingBooking: ctx.pendingBooking || null\n  }\n}];"
            },
            "id": "appt-list-002",
            "name": "Format Appointments List",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3328,
                704
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Webhook": {
            "main": [
                [
                    {
                        "node": "Should Process?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Should Process?": {
            "main": [
                [
                    {
                        "node": "Check If Processed",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Check If Processed": {
            "main": [
                [
                    {
                        "node": "Is New Message?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is New Message?": {
            "main": [
                [
                    {
                        "node": "Lock Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Lock Message": {
            "main": [
                [
                    {
                        "node": "Prepare Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Data": {
            "main": [
                [
                    {
                        "node": "Is Voice Message?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Conversation": {
            "main": [
                [
                    {
                        "node": "Get Customer Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Customer Data": {
            "main": [
                [
                    {
                        "node": "Build AI Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build AI Context": {
            "main": [
                [
                    {
                        "node": "Build Ollama Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Ollama Request": {
            "main": [
                [
                    {
                        "node": "Detect Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Detect Intent": {
            "main": [
                [
                    {
                        "node": "Parse Intent Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Intent Response": {
            "main": [
                [
                    {
                        "node": "Route by Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Intent": {
            "main": [
                [
                    {
                        "node": "Check Calendar Availability",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Find Existing Appointment",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Find Appointment to Cancel",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fetch Appointments List",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Format Unclear Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Calendar Availability": {
            "main": [
                [
                    {
                        "node": "Format Slot Options",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Slot Options": {
            "main": [
                [
                    {
                        "node": "Auto Book?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Existing Appointment": {
            "main": [
                [
                    {
                        "node": "Format Reschedule Options",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Reschedule Options": {
            "main": [
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Appointment to Cancel": {
            "main": [
                [
                    {
                        "node": "Format Cancel Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Cancel Confirmation": {
            "main": [
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle Confirmation": {
            "main": [
                [
                    {
                        "node": "Confirmation Action?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confirmation Action?": {
            "main": [
                [
                    {
                        "node": "Create Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Cancel Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create Reschedule Event",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Calendar Event": {
            "main": [
                [
                    {
                        "node": "Format Booking Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Booking Confirmed": {
            "main": [
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cancel Calendar Event": {
            "main": [
                [
                    {
                        "node": "Format Cancel Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Cancel Confirmed": {
            "main": [
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Reschedule Event": {
            "main": [
                [
                    {
                        "node": "Format Reschedule Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cancel Old Appointment": {
            "main": [
                [
                    {
                        "node": "Format Reschedule Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Reschedule Confirmed": {
            "main": [
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Unclear Response": {
            "main": [
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Conversation Prep": {
            "main": [
                [
                    {
                        "node": "Save Conversation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Conversation": {
            "main": [
                [
                    {
                        "node": "Save Customer Profile",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Customer Profile": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Voice Message?": {
            "main": [
                [
                    {
                        "node": "Get Audio URL",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Conversation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Audio URL": {
            "main": [
                [
                    {
                        "node": "Download Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Audio": {
            "main": [
                [
                    {
                        "node": "Transcribe Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transcribe Audio": {
            "main": [
                [
                    {
                        "node": "Inject Transcription",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Inject Transcription": {
            "main": [
                [
                    {
                        "node": "Get Conversation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Auto Book?": {
            "main": [
                [
                    {
                        "node": "Create Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Appointments List": {
            "main": [
                [
                    {
                        "node": "Format Appointments List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Appointments List": {
            "main": [
                [
                    {
                        "node": "Save Conversation Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "34f522fa-a932-45c8-9510-7fd9d8bb30a5",
    "activeVersionId": "cff2fbe6-9e70-48c6-9b88-e5d34f57f700",
    "versionCounter": 158,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-06-30T16:01:25.988Z",
            "createdAt": "2026-06-30T16:01:25.988Z",
            "role": "workflow:owner",
            "workflowId": "2fyrX7SJFdRUNh9f",
            "projectId": "omSWFMunMQl2ATDm",
            "project": {
                "updatedAt": "2026-05-24T04:39:55.459Z",
                "createdAt": "2026-05-11T07:31:23.630Z",
                "id": "omSWFMunMQl2ATDm",
                "name": "bagus bagus <bagusbachtiar50@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "425d240d-1a04-4966-99d0-f9cdf7229c01"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-07-08T04:53:50.888Z",
        "createdAt": "2026-07-08T04:53:50.888Z",
        "versionId": "cff2fbe6-9e70-48c6-9b88-e5d34f57f700",
        "workflowId": "2fyrX7SJFdRUNh9f",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "whatsapp-appointment",
                    "options": {}
                },
                "id": "appt-n001",
                "name": "WhatsApp Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    304
                ],
                "webhookId": "whatsapp-appt-booking-2024"
            },
            {
                "parameters": {
                    "jsCode": "const VERIFY_TOKEN = '123456';\nconst input = $input.first().json;\n\n// Handle Meta webhook verification (GET request)\nconst query = input.query || {};\nif (query['hub.mode']) {\n  if (query['hub.mode'] === 'subscribe' && query['hub.verify_token'] === VERIFY_TOKEN) {\n    return [{ json: { type: 'verification', skip: true } }];\n  }\n  return [{ json: { type: 'forbidden', skip: true } }];\n}\n\n// Parse incoming WhatsApp message (POST request)\nconst body = input.body || input;\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst message = value?.messages?.[0];\nconst contact = value?.contacts?.[0];\n\nif (!message) return [{ json: { type: 'no_message', skip: true } }];\n\nconst msgAge = Math.floor(Date.now() / 1000) - parseInt(message.timestamp || 0);\nif (msgAge > 300) return [{ json: { type: 'expired', skip: true } }];\n\n// Handle audio/voice messages\nif (message.type === 'audio') {\n  return [{\n    json: {\n      skip: false,\n      messageId: message.id,\n      from: message.from,\n      type: 'audio',\n      audioId: message.audio.id,\n      text: '',\n      name: contact?.profile?.name || '',\n      timestamp: message.timestamp,\n      phoneNumberId: value.metadata?.phone_number_id\n    }\n  }];\n}\n\nif (message.type !== 'text' && message.type !== 'interactive') return [{ json: { type: message.type, skip: true } }];\n\nconst text = (message.text?.body || message.interactive?.button_reply?.title || '').trim();\nif (!text) return [{ json: { type: 'empty_text', skip: true } }];\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: message.id,\n    from: message.from,\n    type: message.type,\n    text,\n    name: contact?.profile?.name || '',\n    timestamp: message.timestamp,\n    phoneNumberId: value.metadata?.phone_number_id\n  }\n}];"
                },
                "id": "appt-n002",
                "name": "Parse Webhook",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    224,
                    304
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{ String($json.skip) }}",
                                "value2": "false"
                            }
                        ]
                    }
                },
                "id": "appt-n003",
                "name": "Should Process?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    448,
                    304
                ]
            },
            {
                "parameters": {
                    "operation": "get",
                    "key": "={{ 'processed:' + $json.messageId }}",
                    "options": {}
                },
                "id": "appt-n004",
                "name": "Check If Processed",
                "type": "n8n-nodes-base.redis",
                "typeVersion": 1,
                "position": [
                    672,
                    304
                ],
                "credentials": {
                    "redis": {
                        "id": "5ooDCfWfVCLgn9QF",
                        "name": "Redis account"
                    }
                }
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{ $json.value }}",
                                "operation": "isEmpty"
                            }
                        ]
                    }
                },
                "id": "appt-n005",
                "name": "Is New Message?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    880,
                    304
                ]
            },
            {
                "parameters": {
                    "operation": "set",
                    "key": "={{ 'processed:' + $('Parse Webhook').item.json.messageId }}",
                    "value": "1",
                    "keyType": "string",
                    "expire": true,
                    "ttl": 86400
                },
                "id": "appt-n006",
                "name": "Lock Message",
                "type": "n8n-nodes-base.redis",
                "typeVersion": 1,
                "position": [
                    1104,
                    304
                ],
                "credentials": {
                    "redis": {
                        "id": "5ooDCfWfVCLgn9QF",
                        "name": "Redis account"
                    }
                }
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "id": "a1",
                                "name": "from",
                                "value": "={{ $('Parse Webhook').item.json.from }}",
                                "type": "string"
                            },
                            {
                                "id": "a2",
                                "name": "text",
                                "value": "={{ $('Parse Webhook').item.json.text }}",
                                "type": "string"
                            },
                            {
                                "id": "a3",
                                "name": "name",
                                "value": "={{ $('Parse Webhook').item.json.name }}",
                                "type": "string"
                            },
                            {
                                "id": "a4",
                                "name": "phoneNumberId",
                                "value": "={{ $('Parse Webhook').item.json.phoneNumberId }}",
                                "type": "string"
                            },
                            {
                                "id": "a5",
                                "name": "sessionKey",
                                "value": "={{ 'appt:session:' + $('Parse Webhook').item.json.from }}",
                                "type": "string"
                            },
                            {
                                "id": "a6",
                                "name": "customerKey",
                                "value": "={{ 'appt:customer:' + $('Parse Webhook').item.json.from }}",
                                "type": "string"
                            },
                            {
                                "id": "a7",
                                "name": "type",
                                "value": "={{ $('Parse Webhook').item.json.type }}",
                                "type": "string"
                            },
                            {
                                "id": "a8",
                                "name": "audioId",
                                "value": "={{ $('Parse Webhook').item.json.audioId || '' }}",
                                "type": "string"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "appt-n007",
                "name": "Prepare Data",
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    1264,
                    304
                ]
            },
            {
                "parameters": {
                    "operation": "get",
                    "propertyName": "value",
                    "key": "={{ $json.sessionKey }}",
                    "options": {}
                },
                "id": "appt-n008",
                "name": "Get Conversation",
                "type": "n8n-nodes-base.redis",
                "typeVersion": 1,
                "position": [
                    1616,
                    304
                ],
                "credentials": {
                    "redis": {
                        "id": "5ooDCfWfVCLgn9QF",
                        "name": "Redis account"
                    }
                }
            },
            {
                "parameters": {
                    "operation": "get",
                    "propertyName": "value",
                    "key": "={{ $('Prepare Data').item.json.customerKey }}",
                    "options": {}
                },
                "id": "appt-n009",
                "name": "Get Customer Data",
                "type": "n8n-nodes-base.redis",
                "typeVersion": 1,
                "position": [
                    1808,
                    304
                ],
                "credentials": {
                    "redis": {
                        "id": "5ooDCfWfVCLgn9QF",
                        "name": "Redis account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const data = $('Prepare Data').item.json;\nconst convRaw = $('Get Conversation').item.json.value;\nconst custRaw = $('Get Customer Data').item.json.value;\n\n// For voice messages, use transcribed text from Inject Transcription\nlet text = data.text;\ntry {\n  const inj = $('Inject Transcription').item.json;\n  if (inj && inj.isVoiceMessage) text = inj.text;\n} catch(e) {}\n\nlet conversation = [];\ntry { conversation = JSON.parse(convRaw || '[]'); } catch(e) {}\n\nlet customer = {};\ntry { customer = JSON.parse(custRaw || '{}'); } catch(e) {}\n\nreturn [{\n  json: {\n    from: data.from,\n    text,\n    name: data.name || customer.name || '',\n    phoneNumberId: data.phoneNumberId,\n    sessionKey: data.sessionKey,\n    customerKey: data.customerKey,\n    conversation,\n    customer,\n    pendingBooking: customer.pendingBooking || null\n  }\n}];"
                },
                "id": "appt-n010",
                "name": "Build AI Context",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1984,
                    304
                ]
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $input.first().json;\n\n// Hard-code slot selection - handles typed (1/2/3), time strings, am/pm, ordinals EN+ID\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_slot_selection') {\n  const slots = ctx.pendingBooking.slots || [];\n  const txt = ctx.text.trim().toLowerCase();\n  let slotIndex = -1;\n\n  // Numeric: 1, 2, 3\n  const num = parseInt(txt);\n  if (num >= 1 && num <= slots.length) slotIndex = num - 1;\n\n  // Number > 3: treat as time hour (e.g. \"9\" = 09:00, \"10\" = 10:00)\n  if (slotIndex < 0 && !isNaN(num) && num >= 1 && num <= 23) {\n    const hh = String(num).padStart(2, '0');\n    slotIndex = slots.findIndex(s => s.time === hh + ':00');\n    if (slotIndex < 0) slotIndex = slots.findIndex(s => s.time === hh + ':30');\n  }\n\n  // Time with colon or dot: 09:00, 9:00, 9.30\n  if (slotIndex < 0) {\n    const tm = txt.match(/(d{1,2})[.:](d{2})/);\n    if (tm) {\n      const timeStr = tm[1].padStart(2, '0') + ':' + tm[2];\n      slotIndex = slots.findIndex(s => s.time === timeStr);\n    }\n  }\n\n  // Time with am/pm: 9am, 9 am, 10am\n  if (slotIndex < 0) {\n    const ampm = txt.match(/(\\d{1,2})(?::(\\d{2}))?\\s*am/);\n    if (ampm) {\n      const timeStr = ampm[1].padStart(2, '0') + ':' + (ampm[2] || '00');\n      slotIndex = slots.findIndex(s => s.time === timeStr);\n    }\n  }\n\n  // Spoken time — full EN + ID lookup table\n  if (slotIndex < 0) {\n    const hourMap = {\n      // English\n      'one': '01', 'two': '02', 'three': '03', 'four': '04',\n      'five': '05', 'six': '06', 'seven': '07', 'eight': '08',\n      'nine': '09', 'ten': '10', 'eleven': '11', 'twelve': '12',\n      // Indonesian\n      'satu': '01', 'dua': '02', 'tiga': '03', 'empat': '04',\n      'lima': '05', 'enam': '06', 'tujuh': '07', 'delapan': '08',\n      'sembilan': '09', 'sepuluh': '10', 'sebelas': '11', 'dua belas': '12'\n    };\n    const minuteMap = {\n      'thirty': '30', 'half': '30', 'tiga puluh': '30',\n      'fifteen': '15', 'quarter': '15', 'lima belas': '15',\n      'forty five': '45', 'empat puluh lima': '45'\n    };\n    // setengah X = half past (X-1) in Indonesian: \"setengah sepuluh\" = 09:30\n    const setengahMap = {\n      'dua': '01', 'tiga': '02', 'empat': '03', 'lima': '04',\n      'enam': '05', 'tujuh': '06', 'delapan': '07', 'sembilan': '08',\n      'sepuluh': '09', 'sebelas': '10', 'dua belas': '11'\n    };\n    // Check \"setengah X\" first (Indonesian half-past)\n    const setengahMatch = txt.match(/setengah\\s+(\\w+(?:\\s+\\w+)?)/);\n    if (setengahMatch) {\n      const nextWord = setengahMatch[1];\n      if (setengahMap[nextWord]) slotIndex = slots.findIndex(s => s.time === setengahMap[nextWord] + ':30');\n    }\n    // Check hour word + optional minute word\n    if (slotIndex < 0) {\n      let hour = null, minute = '00';\n      // Try two-word hours first (dua belas, etc.)\n      for (const [word, h] of Object.entries(hourMap)) {\n        if (txt.includes(word)) { hour = h; break; }\n      }\n      if (hour) {\n        for (const [word, m] of Object.entries(minuteMap)) {\n          if (txt.includes(word)) { minute = m; break; }\n        }\n        slotIndex = slots.findIndex(s => s.time === hour + ':' + minute);\n      }\n    }\n  }\n\n    // Ordinals — English + Indonesian\n  if (slotIndex < 0) {\n    const ordMap = [\n      ['first','one','satu','pertama','1st'],\n      ['second','two','dua','kedua','2nd','nomor 2','no 2','number 2'],\n      ['third','three','tiga','ketiga','3rd','nomor 3','no 3','number 3']\n    ];\n    for (let i = 0; i < ordMap.length; i++) {\n      if (i < slots.length && ordMap[i].some(k => txt.includes(k))) { slotIndex = i; break; }\n    }\n  }\n\n  if (slotIndex >= 0) {\n    return [{ json: Object.assign({}, ctx, { _slotIndex: slotIndex, ollamaBody: null }) }];\n  }\n}\n\n// Hard-code cancel confirmation reply - don't send to LLM, avoids \"yes\" being misclassified as intent=cancel again\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_cancel_confirmation') {\n  return [{ json: Object.assign({}, ctx, { _cancelConfirm: true, ollamaBody: null }) }];\n}\n\nconst todayDate = new Date();\nconst today = todayDate.toISOString().slice(0, 10);\nconst dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\nconst todayFull = dayNames[todayDate.getDay()] + ', ' + today;\n\n// Pre-compute next 7 days with explicit day-name → date mapping (so LLM doesn't need to calculate)\nconst dateMap = [];\nfor (let i = 1; i <= 7; i++) {\n  const d = new Date(todayDate);\n  d.setDate(todayDate.getDate() + i);\n  const iso = d.toISOString().slice(0, 10);\n  const label = i === 1 ? 'Tomorrow' : dayNames[d.getDay()];\n  dateMap.push('- ' + label + ': ' + iso);\n}\nconst upcomingDays = dateMap.join('\\n');\n\nconst systemPrompt = \"You are an appointment booking assistant for Bright Smile Dental Clinic.\\n\" +\n  \"Today is \" + todayFull + \".\\n\" +\n      \"Upcoming dates:\\n\" + upcomingDays + \"\\n\\n\" +\n  \"Services available:\\n\" +\n  \"- Cleaning (30 minutes)\\n\" +\n  \"- First Visit (60 minutes)\\n\" +\n  \"- Emergency (30 minutes)\\n\\n\" +\n  \"Business hours: Monday-Friday, 9:00 AM - 5:00 PM\\n\\n\" +\n  \"Current pending booking context: \" + JSON.stringify(ctx.pendingBooking || null) + \"\\n\" +\n  \"Recent conversation (last 6 messages): \" + JSON.stringify(ctx.conversation.slice(-6)) + \"\\n\\n\" +\n  \"Analyze the user message and respond ONLY with valid JSON:\\n\" +\n  \"{\\n\" +\n  \"  \\\"intent\\\": \\\"booking\\\" | \\\"reschedule\\\" | \\\"cancel\\\" | \\\"confirmation\\\" | \\\"unclear\\\",\\n\" +\n  \"  \\\"service\\\": \\\"Cleaning\\\" | \\\"First Visit\\\" | \\\"Emergency\\\" | null,\\n\" +\n  \"  \\\"date\\\": \\\"YYYY-MM-DD\\\" | null,\\n\" +\n  \"  \\\"time\\\": \\\"HH:MM\\\" | null,\\n\" +\n  \"  \\\"name\\\": null,\\n\" +\n  \"  \\\"notes\\\": null,\\n\" +\n  \"  \\\"confidence\\\": 0.0,\\n\" +\n  \"  \\\"reply\\\": \\\"\\\"\\n\" +\n  \"}\\n\\n\" +\n  \"Rules:\\n\" +\n  \"- Always resolve relative dates (next Monday, tomorrow) using today: \" + todayFull + \"\\n\" +\n  \"- Use list_appointments intent when user asks about their existing appointments — e.g. 'what is my appointment', 'my appointment', 'show my bookings', 'do I have appointments', 'what time is my appointment', 'check my schedule'\\n\" +\n  \"- Write reply in friendly conversational tone\\n\" +\n  \"- When user says thanks/thank you/ok/great/bye after a completed booking, reply ONLY with a short warm closing (e.g. You're welcome! See you at your appointment.) — do NOT prompt them to book/reschedule/cancel\n- When user says thanks/thank you/ok/great/bye/done after a booking is confirmed (check conversation history), reply ONLY with a short warm closing like \"You're welcome! See you at your appointment. Feel free to message us if you need anything.\" — do NOT ask them to book/reschedule/cancel again\";\n\nconst requestBody = {\n  model: 'llama3:latest',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: ctx.text }\n  ],\n  format: 'json',\n  stream: false\n};\n\nreturn [{ json: Object.assign({}, ctx, { ollamaBody: JSON.stringify(requestBody) }) }];\n"
                },
                "id": "appt-n011",
                "name": "Build Ollama Request",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2208,
                    304
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://host.docker.internal:11434/api/chat",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ $json.ollamaBody }}",
                    "options": {}
                },
                "id": "appt-n012",
                "name": "Detect Intent",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    2432,
                    304
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $('Build Ollama Request').item.json;\n\n// Slot selection bypass - _slotIndex set by Build Ollama Request, skip LLM response\nif (ctx._slotIndex !== undefined && ctx._slotIndex !== null) {\n  const slot = (ctx.pendingBooking && ctx.pendingBooking.slots ? ctx.pendingBooking.slots[ctx._slotIndex] : null);\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'confirmation',\n      extracted: {\n        service: ctx.pendingBooking ? ctx.pendingBooking.service : null,\n        date: ctx.pendingBooking ? ctx.pendingBooking.date : null,\n        time: slot ? slot.time : null,\n        name: ctx.name || null,\n        notes: null\n      },\n      selectedSlot: slot || null,\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\n// Cancel confirmation bypass - _cancelConfirm set by Build Ollama Request, skip LLM response\n// Handle Confirmation node already inspects ctx.text for yes/no during awaiting_cancel_confirmation,\n// so forcing intent to 'confirmation' here is enough to stop the LLM from re-classifying \"yes\" as intent=cancel\nif (ctx._cancelConfirm) {\n  return [{\n    json: {\n      from: ctx.from, text: ctx.text, name: ctx.name,\n      phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n      customerKey: ctx.customerKey, conversation: ctx.conversation,\n      customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n      intent: 'confirmation',\n      extracted: {\n        service: null, date: null, time: null,\n        name: ctx.name || null, notes: null\n      },\n      confidence: 1.0,\n      aiReply: ''\n    }\n  }];\n}\n\nconst aiResponse = $input.first().json;\nlet parsed = {};\ntry {\n  const content = aiResponse.message && aiResponse.message.content ? aiResponse.message.content : (aiResponse.response || '');\n  parsed = JSON.parse(content);\n} catch(e) {\n  parsed = { intent: 'unclear', confidence: 0, reply: 'Sorry, I had trouble understanding. Could you please rephrase?' };\n}\n\n// Reschedule date intercept - user just provided new date for reschedule\nif (ctx.pendingBooking && ctx.pendingBooking.step === 'awaiting_reschedule_date') {\n  const date = parsed.date || null;\n  if (date) {\n    return [{\n      json: {\n        from: ctx.from, text: ctx.text, name: ctx.name,\n        phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n        customerKey: ctx.customerKey, conversation: ctx.conversation,\n        customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n        intent: 'booking',\n        extracted: {\n          service: ctx.pendingBooking.service,\n          date: date,\n          time: parsed.time || null,\n          name: parsed.name || ctx.name || null,\n          notes: null\n        },\n        confidence: 1.0,\n        aiReply: ''\n      }\n    }];\n  }\n}\n\nreturn [{\n  json: {\n    from: ctx.from, text: ctx.text, name: ctx.name,\n    phoneNumberId: ctx.phoneNumberId, sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey, conversation: ctx.conversation,\n    customer: ctx.customer, pendingBooking: ctx.pendingBooking,\n    intent: parsed.intent || 'unclear',\n    extracted: {\n      service: parsed.service || null,\n      date: parsed.date || null,\n      time: parsed.time || null,\n      name: parsed.name || ctx.name || null,\n      notes: parsed.notes || null\n    },\n    confidence: parsed.confidence || 0,\n    aiReply: parsed.reply || ''\n  }\n}];\n"
                },
                "id": "appt-n013",
                "name": "Parse Intent Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2640,
                    304
                ]
            },
            {
                "parameters": {
                    "dataType": "string",
                    "value1": "={{ $json.intent }}",
                    "rules": {
                        "rules": [
                            {
                                "value2": "booking"
                            },
                            {
                                "value2": "reschedule"
                            },
                            {
                                "value2": "cancel"
                            },
                            {
                                "value2": "confirmation"
                            },
                            {
                                "value2": "list_appointments"
                            },
                            {
                                "value2": "unclear"
                            }
                        ]
                    },
                    "fallbackOutput": 5
                },
                "id": "appt-n014",
                "name": "Route by Intent",
                "type": "n8n-nodes-base.switch",
                "typeVersion": 2,
                "position": [
                    2864,
                    304
                ]
            },
            {
                "parameters": {
                    "url": "http://host.docker.internal:3000/api/calendar/availability",
                    "sendQuery": true,
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "date",
                                "value": "={{ $json.extracted.date }}"
                            },
                            {
                                "name": "service",
                                "value": "={{ $json.extracted.service }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "appt-n015",
                "name": "Check Calendar Availability",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    3088,
                    0
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst result = $input.first().json;\nconst slots = result.slots || [];\n\nif (!ctx.extracted.date) {\n  return [{\n    json: {\n      ...ctx,\n      autoBooked: false,\n      responseText: ctx.aiReply || 'What date would you like to book? (e.g. Monday July 7)',\n      pendingBooking: { ...ctx.pendingBooking, service: ctx.extracted.service, step: 'awaiting_date' }\n    }\n  }];\n}\n\nif (!ctx.extracted.service) {\n  return [{\n    json: {\n      ...ctx,\n      autoBooked: false,\n      responseText: 'Which service do you need?\\n\\n1. Cleaning (30 min)\\n2. First Visit (60 min)\\n3. Emergency (30 min)',\n      pendingBooking: { step: 'awaiting_service', date: ctx.extracted.date }\n    }\n  }];\n}\n\nif (slots.length === 0) {\n  return [{\n    json: {\n      ...ctx,\n      autoBooked: false,\n      responseText: 'Sorry, no available slots on ' + ctx.extracted.date + '. Would you like to try a different date?',\n      pendingBooking: null\n    }\n  }];\n}\n\nconst topSlots = slots.slice(0, 3);\nconst isReschedule = ctx.pendingBooking && ctx.pendingBooking.existingAppointmentId;\n\n// ── preferred time matching (only for fresh bookings, not reschedule) ──────────\nconst preferredTime = ctx.extracted.time || null;\nlet matchedSlot = null;\n\nif (preferredTime && !isReschedule) {\n  let normalizedTime = null;\n\n  // \"9am\", \"10am\", \"9:00am\"\n  const ampmMatch = preferredTime.match(/(\\d{1,2})(?::(\\d{2}))?\\s*am/i);\n  // \"09:00\", \"9:00\", \"9.30\"\n  const colonMatch = preferredTime.match(/(\\d{1,2})[.:](\\d{2})/);\n  // bare hour: \"9\", \"10\"\n  const hourMatch = preferredTime.match(/^(\\d{1,2})$/);\n\n  if (ampmMatch) {\n    normalizedTime = ampmMatch[1].padStart(2, '0') + ':' + (ampmMatch[2] || '00');\n  } else if (colonMatch) {\n    normalizedTime = colonMatch[1].padStart(2, '0') + ':' + colonMatch[2];\n  } else if (hourMatch) {\n    normalizedTime = hourMatch[1].padStart(2, '0') + ':00';\n  }\n\n  if (normalizedTime) {\n    matchedSlot = slots.find(s => s.time === normalizedTime) || null;\n  }\n}\n\nif (matchedSlot) {\n  // Auto-book: return data shaped for Create Calendar Event, skip slot selection\n  return [{\n    json: {\n      ...ctx,\n      autoBooked: true,\n      selectedSlot: matchedSlot,\n      extracted: { ...ctx.extracted, time: matchedSlot.time },\n      pendingBooking: null\n    }\n  }];\n}\n\n// ── build slot options message ─────────────────────────────────────────────────\nlet msg = '';\nif (preferredTime && !isReschedule) {\n  msg += 'Sorry, *' + preferredTime + '* is not available on ' + ctx.extracted.date + '.\\n\\n';\n}\n\nmsg += 'Available slots for *' + ctx.extracted.service + '* on *' + ctx.extracted.date + '*:\\n\\n';\ntopSlots.forEach(function(slot, i) {\n  msg += (i + 1) + '. ' + slot.time + '\\n';\n});\nmsg += '\\nReply with *1*, *2*, or *3* to confirm your appointment.';\n\nconst newPendingBooking = {\n  service: ctx.extracted.service,\n  date: ctx.extracted.date,\n  name: ctx.extracted.name || ctx.name,\n  phone: ctx.from,\n  slots: topSlots,\n  step: 'awaiting_slot_selection'\n};\n\nif (isReschedule) {\n  newPendingBooking.existingAppointmentId = ctx.pendingBooking.existingAppointmentId;\n  newPendingBooking.existingCalendarEventId = ctx.pendingBooking.existingCalendarEventId;\n  newPendingBooking.isReschedule = true;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    autoBooked: false,\n    responseText: msg,\n    pendingBooking: newPendingBooking\n  }\n}];"
                },
                "id": "appt-n016",
                "name": "Format Slot Options",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3312,
                    0
                ]
            },
            {
                "parameters": {
                    "url": "={{ 'http://host.docker.internal:3000/api/appointments/by-phone/' + $json.from }}",
                    "options": {}
                },
                "id": "appt-n017",
                "name": "Find Existing Appointment",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    3120,
                    528
                ]
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst appt = $input.first().json;\n\nif (!appt || !appt.id) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: \"I couldn't find an active appointment for your number. Would you like to book a new one?\",\n      pendingBooking: null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: `Found your appointment:\\n\\n?? *${appt.service}*\\n?? ${appt.date} at ${appt.time}\\n\\nWhat date would you like to reschedule to?`,\n    pendingBooking: {\n      step: 'awaiting_reschedule_date',\n      existingAppointmentId: appt.id,\n      existingCalendarEventId: appt.calendarEventId,\n      service: appt.service,\n      name: appt.name,\n      phone: ctx.from\n    }\n  }\n}];"
                },
                "id": "appt-n018",
                "name": "Format Reschedule Options",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3328,
                    528
                ]
            },
            {
                "parameters": {
                    "url": "={{ 'http://host.docker.internal:3000/api/appointments/by-phone/' + $json.from }}",
                    "options": {}
                },
                "id": "appt-n019",
                "name": "Find Appointment to Cancel",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    3088,
                    912
                ]
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst appt = $input.first().json;\n\nif (!appt || !appt.id) {\n  return [{\n    json: {\n      ...ctx,\n      responseText: \"I couldn't find an active appointment for your number.\",\n      pendingBooking: null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: `Are you sure you want to cancel your appointment?\\n\\n?? *${appt.service}*\\n?? ${appt.date} at ${appt.time}\\n\\nReply *YES* to confirm cancellation.`,\n    pendingBooking: {\n      step: 'awaiting_cancel_confirmation',\n      existingAppointmentId: appt.id,\n      existingCalendarEventId: appt.calendarEventId,\n      service: appt.service,\n      date: appt.date,\n      time: appt.time\n    }\n  }\n}];"
                },
                "id": "appt-n020",
                "name": "Format Cancel Confirmation",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3312,
                    912
                ]
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $('Parse Intent Response').item.json;\nconst pending = ctx.pendingBooking;\nconst text = ctx.text.trim().toLowerCase();\n\nif (!pending || !pending.step) {\n  return [{ json: { ...ctx, confirmAction: 'none', responseText: ctx.aiReply || 'How can I help you? You can book, reschedule, or cancel an appointment.' } }];\n}\n\nif (pending.step === 'awaiting_slot_selection') {\n  // If Parse Intent Response bypass already resolved the slot, use it directly\n  if (ctx.selectedSlot) {\n    const confirmAction = pending.isReschedule ? 'reschedule_event' : 'create_event';\n    return [{ json: { ...ctx, confirmAction, selectedSlot: ctx.selectedSlot, pending } }];\n  }\n\n  const slots = pending.slots || [];\n  let slot = null;\n\n  // Numeric: 1, 2, 3\n  const choice = parseInt(text) - 1;\n  if (choice >= 0 && choice < slots.length) slot = slots[choice];\n\n  // Number as hour: \"9\" = 09:00\n  if (!slot && !isNaN(parseInt(text))) {\n    const hh = String(parseInt(text)).padStart(2, '0');\n    slot = slots.find(s => s.time === hh + ':00') || slots.find(s => s.time === hh + ':30') || null;\n  }\n\n  // Time with colon or dot: 09:00, 9:00, 9.30\n  if (!slot) {\n    const tm = text.match(/(\\d{1,2})[.:]( \\d{2})/);\n    if (tm) slot = slots.find(s => s.time === tm[1].padStart(2,'0') + ':' + tm[2].trim()) || null;\n  }\n\n  // Time with am/pm: 9am, 9 am, 10am\n  if (!slot) {\n    const ampm = text.match(/(\\d{1,2})(?::(\\d{2}))?\\s*am/);\n    if (ampm) slot = slots.find(s => s.time === ampm[1].padStart(2,'0') + ':' + (ampm[2] || '00')) || null;\n  }\n\n  // Spoken hour words EN + ID\n  if (!slot) {\n    const hourMap = {\n      'one':'01','two':'02','three':'03','four':'04','five':'05','six':'06',\n      'seven':'07','eight':'08','nine':'09','ten':'10','eleven':'11','twelve':'12',\n      'satu':'01','dua':'02','tiga':'03','empat':'04','lima':'05','enam':'06',\n      'tujuh':'07','delapan':'08','sembilan':'09','sepuluh':'10','sebelas':'11'\n    };\n    const minuteMap = { 'thirty':'30','half':'30','tiga puluh':'30' };\n    let hour = null, minute = '00';\n    for (const [w, h] of Object.entries(hourMap)) { if (text.includes(w)) { hour = h; break; } }\n    if (hour) {\n      for (const [w, m] of Object.entries(minuteMap)) { if (text.includes(w)) { minute = m; break; } }\n      slot = slots.find(s => s.time === hour + ':' + minute) || null;\n    }\n  }\n\n  // Ordinals EN + ID\n  if (!slot) {\n    const ordMap = [\n      ['first','one','satu','pertama','1st'],\n      ['second','dua','kedua','2nd','nomor 2','no 2','number 2'],\n      ['third','tiga','ketiga','3rd','nomor 3','no 3','number 3']\n    ];\n    for (let i = 0; i < ordMap.length; i++) {\n      if (i < slots.length && ordMap[i].some(k => text.includes(k))) { slot = slots[i]; break; }\n    }\n  }\n\n  if (!slot) {\n    return [{ json: { ...ctx, confirmAction: 'none', responseText: 'Please reply with *1*, *2*, or *3* to select your preferred time slot.' } }];\n  }\n  const confirmAction = pending.isReschedule ? 'reschedule_event' : 'create_event';\n  return [{ json: { ...ctx, confirmAction, selectedSlot: slot, pending } }];\n}\n\nif (pending.step === 'awaiting_cancel_confirmation') {\n  if (text === 'yes' || text === 'ya' || text === 'yeah' || text === 'yep' || text === 'ok' || text === 'okay') {\n    return [{ json: { ...ctx, confirmAction: 'cancel_event', pending } }];\n  }\n  return [{ json: { ...ctx, confirmAction: 'none', responseText: 'Cancellation aborted. Your appointment is still active.' } }];\n}\n\nreturn [{ json: { ...ctx, confirmAction: 'none', responseText: ctx.aiReply || 'How can I help you?' } }];"
                },
                "id": "appt-n021",
                "name": "Handle Confirmation",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3088,
                    1200
                ]
            },
            {
                "parameters": {
                    "dataType": "string",
                    "value1": "={{ $json.confirmAction }}",
                    "rules": {
                        "rules": [
                            {
                                "value2": "create_event"
                            },
                            {
                                "value2": "cancel_event"
                            },
                            {
                                "value2": "reschedule_event"
                            },
                            {
                                "value2": "none"
                            }
                        ]
                    },
                    "fallbackOutput": 3
                },
                "id": "appt-n022",
                "name": "Confirmation Action?",
                "type": "n8n-nodes-base.switch",
                "typeVersion": 2,
                "position": [
                    3312,
                    1200
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://host.docker.internal:3000/api/calendar/events",
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ service: $json.extracted.service, date: $json.extracted.date, time: $json.extracted.time, name: $json.extracted.name || $json.name || $json.from, phone: $json.from, notes: $json.extracted.notes || null }) }}",
                    "options": {}
                },
                "id": "appt-n023",
                "name": "Create Calendar Event",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    3520,
                    1056
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Try Handle Confirmation (normal path), fall back to Format Slot Options (auto-book path)\nlet ctx;\ntry {\n  const hc = $('Handle Confirmation').item.json;\n  if (!hc || !hc.pending || !hc.selectedSlot) throw new Error('no data');\n  ctx = hc;\n} catch(e) {\n  const fso = $('Format Slot Options').item.json;\n  ctx = {\n    ...fso,\n    pending: {\n      service: fso.extracted.service,\n      date: fso.extracted.date,\n      name: fso.extracted.name || fso.name\n    },\n    selectedSlot: fso.selectedSlot\n  };\n}\n\nconst result = $input.first().json;\n\nconst confirmMsg = `✅ *Appointment Confirmed!*\\n\\n` +\n  `😊 Service: ${ctx.pending.service}\\n` +\n  `📅 Date: ${ctx.pending.date}\\n` +\n  `⏰ Time: ${ctx.selectedSlot.time}\\n` +\n  `👤 Name: ${ctx.pending.name}\\n` +\n  `📞 Phone: ${ctx.from}\\n\\n` +\n  `You will receive a reminder 24 hours and 2 hours before your appointment.\\n\\n` +\n  `To reschedule or cancel, just message us here.`;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: confirmMsg,\n    pendingBooking: null,\n    calendarEventId: result.eventId || result.id || null\n  }\n}];"
                },
                "id": "appt-n024",
                "name": "Format Booking Confirmed",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3744,
                    1056
                ]
            },
            {
                "parameters": {
                    "method": "DELETE",
                    "url": "={{ 'http://host.docker.internal:3000/api/calendar/events/' + $json.pending.existingCalendarEventId }}",
                    "options": {}
                },
                "id": "appt-n025",
                "name": "Cancel Calendar Event",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    3520,
                    1360
                ]
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $('Handle Confirmation').item.json;\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: '? Your appointment has been successfully cancelled.\\n\\nWe hope to see you soon! To book a new appointment, just send us a message.',\n    pendingBooking: null\n  }\n}];"
                },
                "id": "appt-n026",
                "name": "Format Cancel Confirmed",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3744,
                    1360
                ]
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $input.first().json;\n\nconst defaultMsg = 'Hi! I can help you with:\\n\\n😊 *Book* an appointment\\n📅 *Reschedule* your appointment\\n❌ *Cancel* your appointment\\n\\nWhat would you like to do?';\n\nreturn [{\n  json: {\n    ...ctx,\n    responseText: ctx.aiReply || defaultMsg,\n    pendingBooking: ctx.pendingBooking || null\n  }\n}];"
                },
                "id": "appt-n027",
                "name": "Format Unclear Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3088,
                    1504
                ]
            },
            {
                "parameters": {
                    "jsCode": "const item = $input.first().json;\nconst conversation = [...(item.conversation || [])];\n\nconversation.push({ role: 'user', content: item.text, ts: Date.now() });\nconversation.push({ role: 'assistant', content: item.responseText, ts: Date.now() });\n\nif (conversation.length > 20) conversation.splice(0, conversation.length - 20);\n\nconst updatedCustomer = {\n  ...(item.customer || {}),\n  name: item.extracted?.name || item.name || item.customer?.name || '',\n  phone: item.from,\n  pendingBooking: item.pendingBooking || null,\n  lastSeen: Date.now()\n};\n\nreturn [{\n  json: {\n    from: item.from,\n    phoneNumberId: item.phoneNumberId,\n    responseText: item.responseText,\n    sessionKey: item.sessionKey,\n    customerKey: item.customerKey,\n    conversationJson: JSON.stringify(conversation),\n    customerJson: JSON.stringify(updatedCustomer)\n  }\n}];"
                },
                "id": "appt-n028",
                "name": "Save Conversation Prep",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3968,
                    752
                ]
            },
            {
                "parameters": {
                    "operation": "set",
                    "key": "={{ $json.sessionKey }}",
                    "value": "={{ $json.conversationJson }}",
                    "keyType": "string",
                    "expire": true,
                    "ttl": 86400
                },
                "id": "appt-n029",
                "name": "Save Conversation",
                "type": "n8n-nodes-base.redis",
                "typeVersion": 1,
                "position": [
                    4192,
                    752
                ],
                "credentials": {
                    "redis": {
                        "id": "5ooDCfWfVCLgn9QF",
                        "name": "Redis account"
                    }
                }
            },
            {
                "parameters": {
                    "operation": "set",
                    "key": "={{ $('Save Conversation Prep').item.json.customerKey }}",
                    "value": "={{ $('Save Conversation Prep').item.json.customerJson }}",
                    "keyType": "string",
                    "expire": true,
                    "ttl": 2592000
                },
                "id": "appt-n030",
                "name": "Save Customer Profile",
                "type": "n8n-nodes-base.redis",
                "typeVersion": 1,
                "position": [
                    4400,
                    752
                ],
                "credentials": {
                    "redis": {
                        "id": "5ooDCfWfVCLgn9QF",
                        "name": "Redis account"
                    }
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "={{ 'https://graph.facebook.com/v19.0/' + $('Save Conversation Prep').item.json.phoneNumberId + '/messages' }}",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Save Conversation Prep').item.json.from, type: 'text', text: { body: $('Save Conversation Prep').item.json.responseText } }) }}",
                    "options": {}
                },
                "id": "appt-n031",
                "name": "Send WhatsApp Message",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    4624,
                    752
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "pcFpAYQlwDZ3PiNX",
                        "name": "Header Auth account"
                    }
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://host.docker.internal:3000/api/calendar/events",
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ service: $json.pending.service, date: $json.pending.date, time: $json.selectedSlot.time, name: $json.pending.name || $json.name || $json.from, phone: $json.from, notes: null }) }}",
                    "options": {}
                },
                "id": "resched1",
                "name": "Create Reschedule Event",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2208,
                    512
                ]
            },
            {
                "parameters": {
                    "method": "DELETE",
                    "url": "={{ \"http://host.docker.internal:3000/api/calendar/events/\" + $(\"Handle Confirmation\").item.json.pending.existingCalendarEventId }}",
                    "options": {}
                },
                "id": "resched2",
                "name": "Cancel Old Appointment",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2432,
                    512
                ]
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $('Handle Confirmation').item.json;\nconst result = $input.first().json;\n\nconst msg = 'Your appointment has been rescheduled!\\n\\n' +\n  'Service: ' + ctx.pending.service + '\\n' +\n  'New Date: ' + ctx.pending.date + '\\n' +\n  'New Time: ' + ctx.selectedSlot.time + '\\n\\n' +\n  'Your old appointment has been cancelled. We look forward to seeing you!';\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: msg,\n    pendingBooking: null\n  }\n}];\n"
                },
                "id": "resched3",
                "name": "Format Reschedule Confirmed",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2640,
                    512
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{ $json.type }}",
                                "value2": "audio"
                            }
                        ]
                    }
                },
                "id": "appt-voice-001",
                "name": "Is Voice Message?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    1424,
                    304
                ]
            },
            {
                "parameters": {
                    "url": "={{ 'https://graph.facebook.com/v19.0/' + $json.audioId }}",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "options": {}
                },
                "id": "appt-voice-002",
                "name": "Get Audio URL",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    1536,
                    16
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "pcFpAYQlwDZ3PiNX",
                        "name": "Header Auth account"
                    }
                }
            },
            {
                "parameters": {
                    "url": "={{ $json.url }}",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "options": {
                        "response": {
                            "response": {
                                "responseFormat": "file"
                            }
                        }
                    }
                },
                "id": "appt-voice-003",
                "name": "Download Audio",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    1664,
                    16
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "pcFpAYQlwDZ3PiNX",
                        "name": "Header Auth account"
                    }
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.groq.com/openai/v1/audio/transcriptions",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendBody": true,
                    "contentType": "multipart-form-data",
                    "bodyParameters": {
                        "parameters": [
                            {
                                "parameterType": "formBinaryData",
                                "name": "file",
                                "inputDataFieldName": "data"
                            },
                            {
                                "name": "model",
                                "value": "whisper-large-v3-turbo"
                            },
                            {
                                "name": "response_format",
                                "value": "json"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "appt-voice-004",
                "name": "Transcribe Audio",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    1808,
                    16
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "Y5W9LFb3jdX34kFz",
                        "name": "Groq API"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const transcription = $input.first().json.text || '';\nconst ctx = $('Prepare Data').item.json;\nreturn [{\n  json: {\n    ...ctx,\n    text: transcription,\n    isVoiceMessage: true\n  }\n}];"
                },
                "id": "appt-voice-005",
                "name": "Inject Transcription",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1952,
                    16
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "boolean": [
                            {
                                "value1": "={{ $json.autoBooked }}",
                                "value2": true
                            }
                        ]
                    }
                },
                "id": "appt-autobook-001",
                "name": "Auto Book?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    3552,
                    0
                ]
            },
            {
                "parameters": {
                    "url": "={{ 'http://host.docker.internal:3000/api/appointments/upcoming/' + $json.from }}",
                    "options": {}
                },
                "id": "appt-list-001",
                "name": "Fetch Appointments List",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    3104,
                    704
                ]
            },
            {
                "parameters": {
                    "jsCode": "const ctx = $input.first().json;\nconst appts = $input.first().json;\n\nlet msg = '';\nif (!Array.isArray(appts) || appts.length === 0) {\n  msg = \"You don't have any upcoming appointments. Would you like to book one?\";\n} else {\n  msg = '*Your Upcoming Appointments:*\\n\\n';\n  appts.forEach(function(a, i) {\n    msg += (i + 1) + '. 😊 *' + a.service + '*\\n';\n    msg += '   📅 ' + a.date + ' at ⏰ ' + a.time + '\\n';\n    if (i < appts.length - 1) msg += '\\n';\n  });\n  msg += '\\nTo reschedule or cancel, just let me know!';\n}\n\nreturn [{\n  json: {\n    from: ctx.from,\n    phoneNumberId: ctx.phoneNumberId,\n    sessionKey: ctx.sessionKey,\n    customerKey: ctx.customerKey,\n    conversation: ctx.conversation,\n    customer: ctx.customer,\n    text: ctx.text,\n    name: ctx.name,\n    extracted: ctx.extracted,\n    responseText: msg,\n    pendingBooking: ctx.pendingBooking || null\n  }\n}];"
                },
                "id": "appt-list-002",
                "name": "Format Appointments List",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3328,
                    704
                ]
            }
        ],
        "connections": {
            "WhatsApp Webhook": {
                "main": [
                    [
                        {
                            "node": "Parse Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Webhook": {
                "main": [
                    [
                        {
                            "node": "Should Process?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Should Process?": {
                "main": [
                    [
                        {
                            "node": "Check If Processed",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Check If Processed": {
                "main": [
                    [
                        {
                            "node": "Is New Message?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is New Message?": {
                "main": [
                    [
                        {
                            "node": "Lock Message",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Lock Message": {
                "main": [
                    [
                        {
                            "node": "Prepare Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Data": {
                "main": [
                    [
                        {
                            "node": "Is Voice Message?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Conversation": {
                "main": [
                    [
                        {
                            "node": "Get Customer Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Customer Data": {
                "main": [
                    [
                        {
                            "node": "Build AI Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build AI Context": {
                "main": [
                    [
                        {
                            "node": "Build Ollama Request",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Ollama Request": {
                "main": [
                    [
                        {
                            "node": "Detect Intent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Detect Intent": {
                "main": [
                    [
                        {
                            "node": "Parse Intent Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Intent Response": {
                "main": [
                    [
                        {
                            "node": "Route by Intent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Route by Intent": {
                "main": [
                    [
                        {
                            "node": "Check Calendar Availability",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Find Existing Appointment",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Find Appointment to Cancel",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Handle Confirmation",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Fetch Appointments List",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Format Unclear Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Calendar Availability": {
                "main": [
                    [
                        {
                            "node": "Format Slot Options",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Slot Options": {
                "main": [
                    [
                        {
                            "node": "Auto Book?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Find Existing Appointment": {
                "main": [
                    [
                        {
                            "node": "Format Reschedule Options",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Reschedule Options": {
                "main": [
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Find Appointment to Cancel": {
                "main": [
                    [
                        {
                            "node": "Format Cancel Confirmation",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Cancel Confirmation": {
                "main": [
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Handle Confirmation": {
                "main": [
                    [
                        {
                            "node": "Confirmation Action?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Confirmation Action?": {
                "main": [
                    [
                        {
                            "node": "Create Calendar Event",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Cancel Calendar Event",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Create Reschedule Event",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create Calendar Event": {
                "main": [
                    [
                        {
                            "node": "Format Booking Confirmed",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Booking Confirmed": {
                "main": [
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Cancel Calendar Event": {
                "main": [
                    [
                        {
                            "node": "Format Cancel Confirmed",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Cancel Confirmed": {
                "main": [
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create Reschedule Event": {
                "main": [
                    [
                        {
                            "node": "Cancel Old Appointment",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Cancel Old Appointment": {
                "main": [
                    [
                        {
                            "node": "Format Reschedule Confirmed",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Reschedule Confirmed": {
                "main": [
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Unclear Response": {
                "main": [
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save Conversation Prep": {
                "main": [
                    [
                        {
                            "node": "Save Conversation",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save Conversation": {
                "main": [
                    [
                        {
                            "node": "Save Customer Profile",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save Customer Profile": {
                "main": [
                    [
                        {
                            "node": "Send WhatsApp Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is Voice Message?": {
                "main": [
                    [
                        {
                            "node": "Get Audio URL",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Get Conversation",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Audio URL": {
                "main": [
                    [
                        {
                            "node": "Download Audio",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Download Audio": {
                "main": [
                    [
                        {
                            "node": "Transcribe Audio",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Transcribe Audio": {
                "main": [
                    [
                        {
                            "node": "Inject Transcription",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Inject Transcription": {
                "main": [
                    [
                        {
                            "node": "Get Conversation",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Auto Book?": {
                "main": [
                    [
                        {
                            "node": "Create Calendar Event",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch Appointments List": {
                "main": [
                    [
                        {
                            "node": "Format Appointments List",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Appointments List": {
                "main": [
                    [
                        {
                            "node": "Save Conversation Prep",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "bagus bagus",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-07-08T04:53:50.979Z",
                "id": 540,
                "workflowId": "2fyrX7SJFdRUNh9f",
                "versionId": "cff2fbe6-9e70-48c6-9b88-e5d34f57f700",
                "event": "activated",
                "userId": "425d240d-1a04-4966-99d0-f9cdf7229c01"
            },
            {
                "createdAt": "2026-07-08T04:53:50.948Z",
                "id": 539,
                "workflowId": "2fyrX7SJFdRUNh9f",
                "versionId": "cff2fbe6-9e70-48c6-9b88-e5d34f57f700",
                "event": "deactivated",
                "userId": "425d240d-1a04-4966-99d0-f9cdf7229c01"
            }
        ]
    }
}